
  @section Alt_Menu{
   <partial name="~/Views/Science/Partial/Selectbox.cshtml" />
     <h1 class="col-md-6 text-white display-4 "  style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;margin-top:0.6em;">Başvuru şartları</h1>
   <div class="">
       <h4 class="Calculation_information">
            Eğitim bilimleri temel alanında başvurulan doçentlik bilim alanı ile ilgili olarak aşağıdaki
            çalışmalara verilen birim puanlar esas alınmak suretiyle; en az doksan (90) puanının
            doktora unvanının alınmasından sonra gerçekleştirilen çalışmalardan elde edilmiş
            olması kaydıyla, asgari yüz (100) puan karşılığı bilimsel etkinlikte bulunmuş olması
            gerekir. Her çalışma Tablo 1' de sadece bir bölümde yazılarak puanlandırılır.
       </h4>
       <h5 class="Calculation_information2 col-md-8">
        Tek yazarlı yayınlarda yazar tam puan alır. Çok yazarlı yayınlarda puan yazarlar arasında
        eşit olarak bölünür.
       </h5>
   </div>
  }

<head>
   <link href="~/css/hesap.css" rel="stylesheet">
</head>

<section style="">
  <div class="Bir">
    <h2>1. Uluslararası Makale</h2>
    <h5>Başvurulan doçentlik bilim alanı ile ilgili ve adayın hazırladığı lisansüstü tezlerden üretilmemiş olmak kaydıyla </h5>
    <h6>Bu maddenin a veya b bentleri kapsamında en az 20 puan almak zorunludur</h6> 
    <hr>
 
           <div class="row mt-5">
                <label class="col-md-8">A) SSCI, SCI, SCI- Expanded ve AHCI kapsamındaki dergilerde editöre
                    mektup, özet veya kitap kritiği hariç olmak üzere yayımlanmış makale ~ 20 Puan</label>
                <button onclick="add('uluslararasiAul')" type="button" class="btn btn-primary col-md-1">+ </button>
                <button onclick="remove('uluslararasiAul')" type="button" class="btn btn-danger col-md-1 ms-4"> -</button>
                <ul id="uluslararasiAul" type="none">
                    <li class="row d-none">
                        <div class="mb-3 col-md-3 mt-3">
                            <select name="uluslararasiAdoktora[]" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                    <option value="0" selected>Doktora Zamanı Seçiniz</option>
                                    <option value="0">Doktora Öncesi</option>
                                    <option value="1">Doktora Sonrası</option>
                             </select>
                        </div>
                        <div class="mb-3 col-md-2">
                            <label>Makale Sayısı</label>
                            <input type="number" class="form-control" value="1" name="uluslararasiAmakalesayisi[]" min="0" required>
                        </div>
                        <div class="mb-3 col-md-2">
                            <label>Yazar Sayısı</label>
                            <input type="number" class="form-control" value="1" name="uluslararasiAyazarsayisi[]" min="0" required>
                        </div>
                        <div class="mb-3 col-md-5">
                            <label>Hatırlatıcı İsim</label>
                            <input type="text" class="form-control" name="uluslararasiAhatirlatici[]" placeholder="Kendinize Not Tutabilirsiniz">
                        </div>
                    </li>
                       
                </ul>
                <hr/>
           </div> 
 
           <div class="row mt-5">
                <label class="col-md-8">B) Uluslararası alan endekslerinde taranan dergilerde editöre mektup, özet
                        veya kitap kritiği hariç olmak üzere yayımlanmış makale ~ 15 Puan</label>
                <button onclick="add('uluslararasiBul')" type="button" class="btn btn-primary col-md-1">+ </button>
                <button onclick="remove('uluslararasiBul')" type="button" class="btn btn-danger col-md-1 ms-4"> -</button>
                <ul id="uluslararasiBul" type="none">
                    <li class="row d-none">
                        <div class="mb-3 col-md-3 mt-3">
                            <select name="uluslararasiBdoktora[]" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                    <option value="0" selected>Doktora Zamanı Seçiniz</option>
                                    <option value="0">Doktora Öncesi</option>
                                    <option value="1">Doktora Sonrası</option>
                             </select>
                        </div>
                        <div class="mb-3 col-md-2">
                            <label>Makale Sayısı</label>
                            <input type="number" class="form-control" value="1" name="uluslararasiBmakalesayisi[]" min="0" required>
                        </div>
                        <div class="mb-3 col-md-2">
                            <label>Yazar Sayısı</label>
                            <input type="number" class="form-control" value="1" name="uluslararasiByazarsayisi[]" min="0" required>
                        </div>
                        <div class="mb-3 col-md-5">
                            <label>Hatırlatıcı İsim</label>
                            <input type="text" class="form-control" name="uluslararasiBhatirlatici[]" placeholder="Kendinize Not Tutabilirsiniz">
                        </div>
                    </li>
                       
                </ul>
                <hr/>
           </div> 
 
         <div class="row mt-5">
                <label class="col-md-8">C)  Bu maddenin a veya b bentleri kapsamındaki yayınlarda alanında bilime
                katkı sağlayan kitap kritiği yapılmış makale ~ 5 Puan</label>
                <button onclick="add('uluslararasiCul')" type="button" class="btn btn-primary col-md-1">+ </button>
                <button onclick="remove('uluslararasiCul')" type="button" class="btn btn-danger col-md-1 ms-4"> -</button>
                <ul id="uluslararasiCul" type="none">
                    <li class="row d-none">
                        <div class="mb-3 col-md-3 mt-3">
                            <select name="uluslararasiCdoktora[]" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                    <option value="0" selected>Doktora Zamanı Seçiniz</option>
                                    <option value="0">Doktora Öncesi</option>
                                    <option value="1">Doktora Sonrası</option>
                             </select>
                        </div>
                        <div class="mb-3 col-md-2">
                            <label>Makale Sayısı</label>
                            <input type="number" class="form-control" value="1" name="uluslararasiCmakalesayisi[]" min="0" required>
                        </div>
                        <div class="mb-3 col-md-2">
                            <label>Yazar Sayısı</label>
                            <input type="number" class="form-control" value="1" name="uluslararasiCyazarsayisi[]" min="0" required>
                        </div>
                        <div class="mb-3 col-md-5">
                            <label>Hatırlatıcı İsim</label>
                            <input type="text" class="form-control" name="uluslararasiChatirlatici[]" placeholder="Kendinize Not Tutabilirsiniz">
                        </div>
                    </li>
                       
                </ul>
                <hr/>
           </div> 
 
  </div>












</section>




