
  @section Alt_Menu{
   <partial name="~/Views/Science/Partial/Selectbox.cshtml" />
     <h1 class="col-md-6 text-white display-4 "  style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;margin-top:0.6em;">Başvuru şartları</h1>
   <div class="">
       <h4 class="Calculation_information">
            Eğitim bilimleri temel alanında başvurulan doçentlik bilim alanı ile ilgili olarak aşağıdaki
            çalışmalara verilen birim puanlar esas alınmak suretiyle; en az doksan (90) puanının
            doktora unvanının alınmasından sonra gerçekleştirilen çalışmalardan elde edilmiş
            olması kaydıyla, asgari yüz (100) puan karşılığı bilimsel etkinlikte bulunmuş olması
            gerekir. Her çalışma Tablo 1' de sadece bir bölümde yazılarak puanlandırılır.
       </h4>
       <h5 class="Calculation_information2 col-md-8">
        Tek yazarlı yayınlarda yazar tam puan alır. Çok yazarlı yayınlarda puan yazarlar arasında
        eşit olarak bölünür.
       </h5>
   </div>
  }

<head>
   <link href="~/css/hesap.css" rel="stylesheet">
</head>

<section style="">
  <div class="Bir">
    <h2>1. Uluslararası Makale</h2>
    <h5>Başvurulan doçentlik bilim alanı ile ilgili ve adayın hazırladığı lisansüstü tezlerden üretilmemiş olmak kaydıyla </h5>
    <h6>Bu maddenin a veya b bentleri kapsamında en az 20 puan almak zorunludur</h6> 
    <hr>
 
           <div class="row mt-5">
                <label class="col-md-8">A) SSCI, SCI, SCI- Expanded ve AHCI kapsamındaki dergilerde editöre
                    mektup, özet veya kitap kritiği hariç olmak üzere yayımlanmış makale ~ 20 Puan</label>
                <button onclick="add('UluslararasiAul')" type="button" class="btn btn-primary col-md-1">+ </button>
                <button onclick="remove('UluslararasiAul')" type="button" class="btn btn-danger col-md-1 ms-4"> -</button>
                <ul id="UluslararasiAul" type="none">
                    <li class="row d-none">
                        <div class="mb-3 col-md-3 mt-3">
                            <select name="UluslararasiAdoktora[]" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                    <option value="0" selected>Doktora Zamanı Seçiniz</option>
                                    <option value="0">Doktora Öncesi</option>
                                    <option value="1">Doktora Sonrası</option>
                             </select>
                        </div>
                        <div class="mb-3 col-md-2">
                            <label>Makale Sayısı</label>
                            <input type="number" class="form-control" value="1" name="UluslararasiAmakalesayisi[]" min="0" required>
                        </div>
                        <div class="mb-3 col-md-2">
                            <label>Yazar Sayısı</label>
                            <input type="number" class="form-control" value="1" name="UluslararasiAyazarsayisi[]" min="0" required>
                        </div>
                        <div class="mb-3 col-md-5">
                            <label>Hatırlatıcı İsim</label>
                            <input type="text" class="form-control" name="UluslararasiAhatirlatici[]" placeholder="Kendinize Not Tutabilirsiniz">
                        </div>
                    </li>
                       
                </ul>
                <hr/>
           </div> 
 
           <div class="row mt-5">
                <label class="col-md-8">B) Uluslararası alan endekslerinde taranan dergilerde editöre mektup, özet
                        veya kitap kritiği hariç olmak üzere yayımlanmış makale ~ 15 Puan</label>
                <button onclick="add('UluslararasiBul')" type="button" class="btn btn-primary col-md-1">+ </button>
                <button onclick="remove('UluslararasiBul')" type="button" class="btn btn-danger col-md-1 ms-4"> -</button>
                <ul id="UluslararasiBul" type="none">
                    <li class="row d-none">
                        <div class="mb-3 col-md-3 mt-3">
                            <select name="UluslararasiBdoktora[]" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                    <option value="0" selected>Doktora Zamanı Seçiniz</option>
                                    <option value="0">Doktora Öncesi</option>
                                    <option value="1">Doktora Sonrası</option>
                             </select>
                        </div>
                        <div class="mb-3 col-md-2">
                            <label>Makale Sayısı</label>
                            <input type="number" class="form-control" value="1" name="UluslararasiBmakalesayisi[]" min="0" required>
                        </div>
                        <div class="mb-3 col-md-2">
                            <label>Yazar Sayısı</label>
                            <input type="number" class="form-control" value="1" name="UluslararasiByazarsayisi[]" min="0" required>
                        </div>
                        <div class="mb-3 col-md-5">
                            <label>Hatırlatıcı İsim</label>
                            <input type="text" class="form-control" name="UluslararasiBhatirlatici[]" placeholder="Kendinize Not Tutabilirsiniz">
                        </div>
                    </li>
                       
                </ul>
                <hr/>
           </div> 
 
         <div class="row mt-5">
                <label class="col-md-8">C)  Bu maddenin a veya b bentleri kapsamındaki yayınlarda alanında bilime
                katkı sağlayan kitap kritiği yapılmış makale ~ 5 Puan</label>
                <button onclick="add('UluslararasiCul')" type="button" class="btn btn-primary col-md-1">+ </button>
                <button onclick="remove('UluslararasiCul')" type="button" class="btn btn-danger col-md-1 ms-4"> -</button>
                <ul id="UluslararasiCul" type="none">
                    <li class="row d-none">
                        <div class="mb-3 col-md-3 mt-3">
                            <select name="UluslararasiCdoktora[]" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                    <option value="0" selected>Doktora Zamanı Seçiniz</option>
                                    <option value="0">Doktora Öncesi</option>
                                    <option value="1">Doktora Sonrası</option>
                             </select>
                        </div>
                        <div class="mb-3 col-md-2">
                            <label>Makale Sayısı</label>
                            <input type="number" class="form-control" value="1" name="UluslararasiCmakalesayisi[]" min="0" required>
                        </div>
                        <div class="mb-3 col-md-2">
                            <label>Yazar Sayısı</label>
                            <input type="number" class="form-control" value="1" name="UluslararasiCyazarsayisi[]" min="0" required>
                        </div>
                        <div class="mb-3 col-md-5">
                            <label>Hatırlatıcı İsim</label>
                            <input type="text" class="form-control" name="UluslararasiChatirlatici[]" placeholder="Kendinize Not Tutabilirsiniz">
                        </div>
                    </li>
                       
                </ul>
                <hr/>
           </div> 
 
  </div>


  <div class="iki">
    <h2>2. Ulusal Makale </h2>
    <h5>Başvurulan doçentlik bilim alanı ile ilgili ve adayın yaptığı lisansüstü tezlerden üretilmemiş olmak kaydıyla</h5>
    <h6>İkisi bu maddenin a bendi kapsamında olmak üzere en az üç yayın yapmak
        zorunludur.Yabancı uyruklu adaylar ile yurtdışı doçentlik denkliği başvurusu yapan
        adaylar , ULAKBİM tarafından taranan ulusal hakemli dergilerde yayımlanmış makale
        şartını sağlayamamaları durumunda, bunun yerine aynı sayıdaki yayını 1.maddenin a
        ve/veya b bentleri kapsamında sağlayacaklardır.</h6> 
    <hr>
 
           <div class="row mt-5">
                <label class="col-md-8">A)  ULAKBİM tarafından taranan ulusal hakemli dergilerde yayımlanmış makale ~ 8 Puan</label>
                <button onclick="add('UlusalAul')" type="button" class="btn btn-primary col-md-1">+ </button>
                <button onclick="remove('UlusalAul')" type="button" class="btn btn-danger col-md-1 ms-4"> -</button>
                <ul id="UlusalAul" type="none">
                    <li class="row d-none">
                        <div class="mb-3 col-md-3 mt-3">
                            <select name="UlusalAdoktora[]" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                    <option value="0" selected>Doktora Zamanı Seçiniz</option>
                                    <option value="0">Doktora Öncesi</option>
                                    <option value="1">Doktora Sonrası</option>
                             </select>
                        </div>
                        <div class="mb-3 col-md-2">
                            <label>Makale Sayısı</label>
                            <input type="number" class="form-control" value="1" name="UlusalAmakalesayisi[]" min="0" required>
                        </div>
                        <div class="mb-3 col-md-2">
                            <label>Yazar Sayısı</label>
                            <input type="number" class="form-control" value="1" name="UlusalAyazarsayisi[]" min="0" required>
                        </div>
                        <div class="mb-3 col-md-5">
                            <label>Hatırlatıcı İsim</label>
                            <input type="text" class="form-control" name="UlusalAhatirlatici[]" placeholder="Kendinize Not Tutabilirsiniz">
                        </div>
                    </li>
                       
                </ul>
                <hr/>
           </div> 
 
                <div class="row mt-5">
                <label class="col-md-8">B) a bendi dışındaki Ulusal hakemli dergilerde yayımlanmış makale ~ 4 Puan</label>
                <button onclick="add('UlusalBul')" type="button" class="btn btn-primary col-md-1">+ </button>
                <button onclick="remove('UlusalBul')" type="button" class="btn btn-danger col-md-1 ms-4"> -</button>
                <ul id="UlusalBul" type="none">
                    <li class="row d-none">
                        <div class="mb-3 col-md-3 mt-3">
                            <select name="UlusalBdoktora[]" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                    <option value="0" selected>Doktora Zamanı Seçiniz</option>
                                    <option value="0">Doktora Öncesi</option>
                                    <option value="1">Doktora Sonrası</option>
                             </select>
                        </div>
                        <div class="mb-3 col-md-2">
                            <label>Makale Sayısı</label>
                            <input type="number" class="form-control" value="1" name="UlusalBmakalesayisi[]" min="0" required>
                        </div>
                        <div class="mb-3 col-md-2">
                            <label>Yazar Sayısı</label>
                            <input type="number" class="form-control" value="1" name="UlusalByazarsayisi[]" min="0" required>
                        </div>
                        <div class="mb-3 col-md-5">
                            <label>Hatırlatıcı İsim</label>
                            <input type="text" class="form-control" name="UlusalBhatirlatici[]" placeholder="Kendinize Not Tutabilirsiniz">
                        </div>
                    </li>
                       
                </ul>
                <hr/>
           </div> 
 
  </div>


  <div class="Uc">
    <h2>3. Lisansüstü Tezlerden Üretilmiş Yayın</h2>
    <h5>Adayın hazırladığı lisansüstü tezleriyle ilgili olmak kaydıyla </h5>
    <h6>Bu madde kapsamında en az 1 yayın zorunludur. Bu maddeden en fazla 10 puan alınabilir</h6> 
    <hr>
 
           <div class="row mt-5">
                <label class="col-md-8">A) Uluslararası yayınevleri tarafından yayımlanmış kitap  ~ 10 Puan</label>
                <button onclick="add('YayinAul')" type="button" class="btn btn-primary col-md-1">+ </button>
                <button onclick="remove('YayinAul')" type="button" class="btn btn-danger col-md-1 ms-4"> -</button>
                <ul id="YayinAul" type="none">
                    <li class="row d-none">
                        <div class="mb-3 col-md-3 mt-3">
                            <select name="YayinAdoktora[]" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                    <option value="0" selected>Doktora Zamanı Seçiniz</option>
                                    <option value="0">Doktora Öncesi</option>
                                    <option value="1">Doktora Sonrası</option>
                             </select>
                        </div>
                        <div class="mb-3 col-md-2">
                            <label>Kitap Sayısı</label>
                            <input type="number" class="form-control" value="1" name="YayinAkitap[]" min="0" required>
                        </div>
                        <div class="mb-3 col-md-2">
                            <label>Yazar Sayısı</label>
                            <input type="number" class="form-control" value="1" name="YayinAyazarsayisi[]" min="0" required>
                        </div>
                        <div class="mb-3 col-md-5">
                            <label>Hatırlatıcı İsim</label>
                            <input type="text" class="form-control" name="YayinAhatirlatici[]" placeholder="Kendinize Not Tutabilirsiniz">
                        </div>
                    </li>
                       
                </ul>
                <hr/>
           </div> 
 
           <div class="row mt-5">
                <label class="col-md-8">B) Uluslararası yayınevleri tarafından yayımlanmış kitapta bölüm ~ 8 Puan</label>
                <button onclick="add('YayinBul')" type="button" class="btn btn-primary col-md-1">+ </button>
                <button onclick="remove('YayinBul')" type="button" class="btn btn-danger col-md-1 ms-4"> -</button>
                <ul id="YayinBul" type="none">
                    <li class="row d-none">
                        <div class="mb-3 col-md-3 mt-3">
                            <select name="YayinBdoktora[]" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                    <option value="0" selected>Doktora Zamanı Seçiniz</option>
                                    <option value="0">Doktora Öncesi</option>
                                    <option value="1">Doktora Sonrası</option>
                             </select>
                        </div>
                        <div class="mb-3 col-md-2">
                            <label>Kitap Bölüm Sayısı</label>
                            <input type="number" class="form-control" value="1" name="YayinBbolumSayisi[]" min="0" required>
                        </div>
                        <div class="mb-3 col-md-2">
                            <label>Yazar Sayısı</label>
                            <input type="number" class="form-control" value="1" name="YayinByazarsayisi[]" min="0" required>
                        </div>
                        <div class="mb-3 col-md-5">
                            <label>Hatırlatıcı İsim</label>
                            <input type="text" class="form-control" name="YayinBhatirlatici[]" placeholder="Kendinize Not Tutabilirsiniz">
                        </div>
                    </li>
                       
                </ul>
                <hr/>
           </div> 
 

           <div class="row mt-5">
                <label class="col-md-8">C) Ulusal yayınevleri tarafından yayımlanmış kitap  ~ 5 Puan</label>
                <button onclick="add('YayinCul')" type="button" class="btn btn-primary col-md-1">+ </button>
                <button onclick="remove('YayinCul')" type="button" class="btn btn-danger col-md-1 ms-4"> -</button>
                <ul id="YayinCul" type="none">
                    <li class="row d-none">
                        <div class="mb-3 col-md-3 mt-3">
                            <select name="YayinCdoktora[]" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                    <option value="0" selected>Doktora Zamanı Seçiniz</option>
                                    <option value="0">Doktora Öncesi</option>
                                    <option value="1">Doktora Sonrası</option>
                             </select>
                        </div>
                        <div class="mb-3 col-md-2">
                            <label>Kitap Sayısı</label>
                            <input type="number" class="form-control" value="1" name="YayinCkitap[]" min="0" required>
                        </div>
                        <div class="mb-3 col-md-2">
                            <label>Yazar Sayısı</label>
                            <input type="number" class="form-control" value="1" name="YayinCyazarsayisi[]" min="0" required>
                        </div>
                        <div class="mb-3 col-md-5">
                            <label>Hatırlatıcı İsim</label>
                            <input type="text" class="form-control" name="YayinChatirlatici[]" placeholder="Kendinize Not Tutabilirsiniz">
                        </div>
                    </li>
                       
                </ul>
                <hr/>
           </div>         


           <div class="row mt-5">
                <label class="col-md-8">D)  Ulusal yayınevleri tarafından yayımlanmış kitapta bölüm ~ 4 Puan</label>
                <button onclick="add('YayinDul')" type="button" class="btn btn-primary col-md-1">+ </button>
                <button onclick="remove('YayinDul')" type="button" class="btn btn-danger col-md-1 ms-4"> -</button>
                <ul id="YayinDul" type="none">
                    <li class="row d-none">
                        <div class="mb-3 col-md-3 mt-3">
                            <select name="YayinDdoktora[]" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                    <option value="0" selected>Doktora Zamanı Seçiniz</option>
                                    <option value="0">Doktora Öncesi</option>
                                    <option value="1">Doktora Sonrası</option>
                             </select>
                        </div>
                        <div class="mb-3 col-md-2">
                            <label>Kitap Bölüm Sayısı</label>
                            <input type="number" class="form-control" value="1" name="YayinDbolumSayisi[]" min="0" required>
                        </div>
                        <div class="mb-3 col-md-2">
                            <label>Yazar Sayısı</label>
                            <input type="number" class="form-control" value="1" name="YayinDyazarsayisi[]" min="0" required>
                        </div>
                        <div class="mb-3 col-md-5">
                            <label>Hatırlatıcı İsim</label>
                            <input type="text" class="form-control" name="YayinDhatirlatici[]" placeholder="Kendinize Not Tutabilirsiniz">
                        </div>
                    </li>
                       
                </ul>
                <hr/>
           </div> 
 
           <div class="row mt-5">
                <label class="col-md-8">E) SSCI, SCI, SCI-Expanded ve AHCI kapsamındaki dergilerde yayımlanmış makale ~ 8 Puan</label>
                <button onclick="add('YayinEul')" type="button" class="btn btn-primary col-md-1">+ </button>
                <button onclick="remove('YayinEul')" type="button" class="btn btn-danger col-md-1 ms-4"> -</button>
                <ul id="YayinEul" type="none">
                    <li class="row d-none">
                        <div class="mb-3 col-md-3 mt-3">
                            <select name="YayinEdoktora[]" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                    <option value="0" selected>Doktora Zamanı Seçiniz</option>
                                    <option value="0">Doktora Öncesi</option>
                                    <option value="1">Doktora Sonrası</option>
                             </select>
                        </div>
                        <div class="mb-3 col-md-2">
                            <label>Makale Sayısı</label>
                            <input type="number" class="form-control" value="1" name="YayinEmakalesayisi[]" min="0" required>
                        </div>
                        <div class="mb-3 col-md-2">
                            <label>Yazar Sayısı</label>
                            <input type="number" class="form-control" value="1" name="YayinEyazarsayisi[]" min="0" required>
                        </div>
                        <div class="mb-3 col-md-5">
                            <label>Hatırlatıcı İsim</label>
                            <input type="text" class="form-control" name="YayinEhatirlatici[]" placeholder="Kendinize Not Tutabilirsiniz">
                        </div>
                    </li>
                       
                </ul>
                <hr/>
           </div> 


           <div class="row mt-5">
                <label class="col-md-8">F)  Uluslararası alan endekslerinde taranan dergilerde yayımlanmış makale ~ 6 Puan</label>
                <button onclick="add('YayinFul')" type="button" class="btn btn-primary col-md-1">+ </button>
                <button onclick="remove('YayinFul')" type="button" class="btn btn-danger col-md-1 ms-4"> -</button>
                <ul id="YayinFul" type="none">
                    <li class="row d-none">
                        <div class="mb-3 col-md-3 mt-3">
                            <select name="YayinFdoktora[]" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                    <option value="0" selected>Doktora Zamanı Seçiniz</option>
                                    <option value="0">Doktora Öncesi</option>
                                    <option value="1">Doktora Sonrası</option>
                             </select>
                        </div>
                        <div class="mb-3 col-md-2">
                            <label>Makale Sayısı</label>
                            <input type="number" class="form-control" value="1" name="YayinFmakalesayisi[]" min="0" required>
                        </div>
                        <div class="mb-3 col-md-2">
                            <label>Yazar Sayısı</label>
                            <input type="number" class="form-control" value="1" name="YayinFyazarsayisi[]" min="0" required>
                        </div>
                        <div class="mb-3 col-md-5">
                            <label>Hatırlatıcı İsim</label>
                            <input type="text" class="form-control" name="YayinFhatirlatici[]" placeholder="Kendinize Not Tutabilirsiniz">
                        </div>
                    </li>
                       
                </ul>
                <hr/>
           </div> 

           
           <div class="row mt-5">
                <label class="col-md-8">G) ULAKBİM tarafından taranan dergilerde yayımlanmış makale  ~ 4 Puan</label>
                <button onclick="add('YayinGul')" type="button" class="btn btn-primary col-md-1">+ </button>
                <button onclick="remove('YayinGul')" type="button" class="btn btn-danger col-md-1 ms-4"> -</button>
                <ul id="YayinGul" type="none">
                    <li class="row d-none">
                        <div class="mb-3 col-md-3 mt-3">
                            <select name="YayinGdoktora[]" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                    <option value="0" selected>Doktora Zamanı Seçiniz</option>
                                    <option value="0">Doktora Öncesi</option>
                                    <option value="1">Doktora Sonrası</option>
                             </select>
                        </div>
                        <div class="mb-3 col-md-2">
                            <label>Makale Sayısı</label>
                            <input type="number" class="form-control" value="1" name="YayinGmakalesayisi[]" min="0" required>
                        </div>
                        <div class="mb-3 col-md-2">
                            <label>Yazar Sayısı</label>
                            <input type="number" class="form-control" value="1" name="YayinGyazarsayisi[]" min="0" required>
                        </div>
                        <div class="mb-3 col-md-5">
                            <label>Hatırlatıcı İsim</label>
                            <input type="text" class="form-control" name="YayinGhatirlatici[]" placeholder="Kendinize Not Tutabilirsiniz">
                        </div>
                    </li>
                       
                </ul>
                <hr/>
           </div>  
  </div>








</section>




