@using DocentlikPuanHesaplama.IdentityModel.Entity
@using System.Text.Json

  @section Alt_Menu{
   <partial name="~/Views/Science/Partial/Selectbox.cshtml" />
     <h1 class="col-md-6 text-white display-4 "  style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;margin-top:0.6em;">Başvuru şartları</h1>
   
   <div class="">
       <h4 class="Calculation_information">
 
       </h4>
     <h5 class="Calculation_information2 col-md-8">
 
       </h5>
   </div>
  }