
  @section Alt_Menu{
   <partial name="~/Views/Science/Partial/Selectbox.cshtml" />
   
   <div class="">
       <h4 class="Calculation_information">
 
       </h4>
     <h5 class="Calculation_information2 col-md-8">
 
       </h5>
   </div>
  }