
  @section Alt_Menu{
   <partial name="~/Views/Science/Partial/Selectbox.cshtml" />
     <h1 class="col-md-6 text-white display-4 "  style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;margin-top:0.6em;">Hoş Geldiniz...</h1>
   
   <div class="">
       <h4 class="Calculation_information"> Siteyi Kullana bilmek için Websitesi ayarlarınızdan Java Script kullanımına Açık Olduğundan Emin olunuz
       </h4>
       <br>
     <h5 class="Calculation_information2 col-md-8">
           Java Script Nasıl Aktif Edilir ? => 
           <a style="color: red;" target="_blank" href="https://www.youtube.com/watch?v=jnNlE0ZTqEo&ab_channel=hakanbaran%C3%A7ak%C4%B1r"> Videolu Anlatım için tıklayınız. </a>

       </h5>
   </div>
  }