
  @section Alt_Menu{
   <partial name="~/Views/Science/Partial/Selectbox.cshtml" />
   
   <div class="">
       <h4 class="Calculation_information">
          Mühendislik temel alanında başvurulan doçentlik bilim alanı ile ilgili olarak aşağıdaki
          çalışmalara verilen birim puanlar esas alınmak suretiyle; en az doksan (90) puanının
          doktora unvanının alınmasından sonra gerçekleştirilen çalışmalardan elde edilmiş olması
          kaydıyla, asgari yüz (100) puan karşılığı bilimsel etkinlikte bulunmuş olması gerekir. Her
          çalışma, Tablo 9’da sadece bir bölümde yazılarak puanlandırılır.
       </h4>
     <h5 class="Calculation_information2 col-md-8">
          Tek yazarlı makalelerde yazar tam puan alır. İki yazarlı makalelerde başlıca yazar tam
          puanın 0.8'ini, ikinci yazar 0.5'ini alır. Üç ve daha fazla yazarlı makalelerde ise, başlıca
          yazar toplam puanın yarısını alır, diğer yazarlar ise diğer yarısını eşit paylaşır. Başlıca
          yazarın belirtilmediği iki veya daha fazla yazarlı makalelerde toplam puan yazarlar
          arasında eşit olarak bölünür. Diğer yayınlarda (bildiri,kitap) ise toplam puan yazarlar
          arasında eşit olarak bölünür.
       </h5>
   </div>
  }