<style>
   .text-center> h1:nth-child(1){
        font-family:Georgia, 'Times New Roman', Times, serif;
text-align: center;
margin-top: -60px;
    }
     .text-center> p:nth-child(2){
        font-family:Georgia, 'Times New Roman', Times, serif;
text-align: center;
    }

</style>
  @section Alt_Menu{
      <div class="container my-5 py-5 px-lg-5">
       <div class="row g-5 py-5">
            <div class="col-lg- text-center text-lg-start">
                <h1 class="text-white mb-4 animated zoomIn">Hakkımızda Sayfasına Hoş Geldiniz </h1>
                <p class="text-white pb-3 animated zoomIn"> Sayfa içersinde takım üyelerinin sosyal medya hesaplarından iletişime geçmek için 
                    <a href="#Hakkimizda" style="color: yellow;">tıklayınız</a> </p>
            </div>
       
        </div>
        </div>
  }
   <body onload="myFunction()">


<div id="Hakkimizda">

</div>


<h1>About</h1>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


<h1>About</h1>


<h1>About</h1>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


<h1>About</h1>



<h1>About</h1>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


<h1>About</h1>




  <script>
        const myFunction = () => {
            let link = document.querySelector('#about');
             link.classList.add("active");
        }
    </script>


</body>
