<style>
    .text-center>h1:nth-child(1) {
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        margin-top: -60px;
    }

    .text-center>p:nth-child(2) {
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
    }
</style>
@section Alt_Menu{
<div class="container my-5 py-5 px-lg-5">
    <div class="row g-5 py-5">
        <div class="col-lg- text-center text-lg-start">
            <h1 class="text-white mb-4 animated zoomIn">Hakkımızda Sayfasına Hoş Geldiniz </h1>
            <p class="text-white pb-3 animated zoomIn"> Sayfa içersinde takım üyelerinin sosyal medya hesaplarından
                iletişime geçmek için
                <a href="#Hakkimizda" style="color: yellow;">tıklayınız</a>
            </p>
        </div>

    </div>
</div>
}

<head>
    <link rel="stylesheet" href="~/css/about.css">
    @* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" /> *@
</head>

<body onload="myFunction()">


    <section id="Hakkimizda">
        <div class="row "id="team">
            <div class="divimage col-md-4" style="background-image: url(../img/omerfarukislim.jpg);">
            </div>
            <div class="col-md-8">
                <h1 class="text-warning">Ömer  Faruk islim</h1>
                <div class="row">
                    <div class="col-md-3 mt-2 text-primary">
                        <p>Professor of Instructional Technologies </p>
                    </div>
                    <div class="col-md-9 row mylink mt-1">
                        <p class="col-md-5 text-primary" >Soslya Medya Hesapları : </p>
                        <a href="" class="col-md-1 " target="_blank">
                            <i class="fa-brands fa-github "></i>
                        </a>
                        <a href="" class="col-md-1 " target="_blank">
                            <i class="fa-brands fa-linkedin-in "></i>
                        </a>
                        <a href="" class="col-md-1" target="_blank">
                            <i class="fa-brands fa-instagram "></i>
                        </a>
                        <a href="" class="col-md-1" target="_blank">
                            <i class="fa-brands fa-facebook "></i>
                        </a>
                    </div>
                    <div>
                        <p id="abouticerik">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. A voluptatem aliquid voluptatum vel fuga ea at, sed vero quos, iste quia dignissimos, quam quidem voluptates deserunt dolorem iure! Vero, veniam?
                        </p>
                        <p>Mail Adresim / <span> islim@mersin.edu.tr</span></p>
                        <a href="" target="_blank" class="text-primary">
                            Kişisel Web Sitemi Ziyaret Edebilirsiniz >>
                        </a>

                    </div>

                </div>
            </div>
        </div>
     <div class="row "id="team">
            <div class="divimage col-md-4" style="background-image: url(../img/pp.jpeg);">
            </div>
            <div class="col-md-8">
                <h1 class="text-warning">Hakan Baran Çakır</h1>
                <div class="row">
                    <div class="col-md-3 mt-2 text-primary">
                        <p>Team Leader </p>
                    </div>
                    <div class="col-md-9 row mylink mt-1">
                        <p class="col-md-5 text-primary" >Soslya Medya Hesapları : </p>
                        <a href="" class="col-md-1 " target="_blank">
                            <i class="fa-brands fa-github "></i>
                        </a>
                        <a href="" class="col-md-1 " target="_blank">
                            <i class="fa-brands fa-linkedin-in "></i>
                        </a>
                        <a href="" class="col-md-1" target="_blank">
                            <i class="fa-brands fa-instagram "></i>
                        </a>
                        <a href="" class="col-md-1" target="_blank">
                            <i class="fa-brands fa-facebook "></i>
                        </a>
                    </div>
                    <div>
                        <p id="abouticerik">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. A voluptatem aliquid voluptatum vel fuga ea at, sed vero quos, iste quia dignissimos, quam quidem voluptates deserunt dolorem iure! Vero, veniam?
                        </p>
                        <p>Mail Adresim / <span> baranc3363@gmail.com</span></p>
                        <a href="" target="_blank" class="text-primary">
                            Kişisel Web Sitemi Ziyaret Edebilirsiniz >>
                        </a>

                    </div>

                </div>
            </div>
        </div>

          <div class="row "id="team">
            <div class="divimage col-md-4" style="background-image: url(../img/müjdatabi.PNG);">
            </div>
            <div class="col-md-8">
                <h1 class="text-warning">Müjdat Özkan </h1>
                <div class="row">
                    <div class="col-md-3 mt-2 text-primary">
                        <p>Back-end Developer</p>
                    </div>
                    <div class="col-md-9 row mylink mt-1">
                        <p class="col-md-5 text-primary" >Soslya Medya Hesapları : </p>
                        <a href="" class="col-md-1 " target="_blank">
                            <i class="fa-brands fa-github "></i>
                        </a>
                        <a href="" class="col-md-1 " target="_blank">
                            <i class="fa-brands fa-linkedin-in "></i>
                        </a>
                        <a href="" class="col-md-1" target="_blank">
                            <i class="fa-brands fa-instagram "></i>
                        </a>
                        <a href="" class="col-md-1" target="_blank">
                            <i class="fa-brands fa-facebook "></i>
                        </a>
                    </div>
                    <div>
                        <p id="abouticerik">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. A voluptatem aliquid voluptatum vel fuga ea at, sed vero quos, iste quia dignissimos, quam quidem voluptates deserunt dolorem iure! Vero, veniam?
                        </p>
                        <p>Mail Adresim / <span> mujdatozkan@tedmalatya.com</span></p>
                        <a href="" target="_blank" class="text-primary">
                            Kişisel Web Sitemi Ziyaret Edebilirsiniz >>
                        </a>

                    </div>

                </div>
            </div>
        </div>

        <div class="row "id="team">
            <div class="divimage col-md-4" style="background-image: url(../img/merve.jpeg);">
            </div>
            <div class="col-md-8">
                <h1 class="text-warning">Merve  Anlar </h1>
                <div class="row">
                    <div class="col-md-3 mt-2 text-primary">
                        <p>Front-end Developer</p>
                    </div>
                    <div class="col-md-9 row mylink mt-1">
                        <p class="col-md-5 text-primary" >Soslya Medya Hesapları : </p>
                        <a href="" class="col-md-1 " target="_blank">
                            <i class="fa-brands fa-github "></i>
                        </a>
                        <a href="" class="col-md-1 " target="_blank">
                            <i class="fa-brands fa-linkedin-in "></i>
                        </a>
                        <a href="" class="col-md-1" target="_blank">
                            <i class="fa-brands fa-instagram "></i>
                        </a>
                        <a href="" class="col-md-1" target="_blank">
                            <i class="fa-brands fa-facebook "></i>
                        </a>
                    </div>
                    <div>
                        <p id="abouticerik">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. A voluptatem aliquid voluptatum vel fuga ea at, sed vero quos, iste quia dignissimos, quam quidem voluptates deserunt dolorem iure! Vero, veniam?
                        </p>
                        <p>Mail Adresim / <span> merve@gmail.com</span></p>
                        <a href="" target="_blank" class="text-primary">
                            Kişisel Web Sitemi Ziyaret Edebilirsiniz >>
                        </a>

                    </div>

                </div>
            </div>
        </div>



            <div class="row "id="team">
            <div class="divimage col-md-4" style="background-image: url(../img/yagmur.jpeg);">
            </div>
            <div class="col-md-8">
                <h1 class="text-warning">Yağmur Tazaler</h1>
                <div class="row">
                    <div class="col-md-3 mt-2 text-primary">
                        <p>Front-end Developer</p>
                    </div>
                    <div class="col-md-9 row mylink mt-1">
                        <p class="col-md-5 text-primary" >Soslya Medya Hesapları : </p>
                        <a href="" class="col-md-1 " target="_blank">
                            <i class="fa-brands fa-github "></i>
                        </a>
                        <a href="" class="col-md-1 " target="_blank">
                            <i class="fa-brands fa-linkedin-in "></i>
                        </a>
                        <a href="" class="col-md-1" target="_blank">
                            <i class="fa-brands fa-instagram "></i>
                        </a>
                        <a href="" class="col-md-1" target="_blank">
                            <i class="fa-brands fa-facebook "></i>
                        </a>
                    </div>
                    <div>
                        <p id="abouticerik">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. A voluptatem aliquid voluptatum vel fuga ea at, sed vero quos, iste quia dignissimos, quam quidem voluptates deserunt dolorem iure! Vero, veniam?
                        </p>
                        <p>Mail Adresim / <span>yagmurtazeler49@gmail.com</span></p>
                        <a href="" target="_blank" class="text-primary">
                            Kişisel Web Sitemi Ziyaret Edebilirsiniz >>
                        </a>

                    </div>

                </div>
            </div>
        </div>
<br>
<br>
    </section>




    <script>
        const myFunction = () => {
            let link = document.querySelector('#about');
            link.classList.add("active");
        }
    </script>


<script>
     window.addEventListener('scroll', reveal);

  function reveal() {
      //hangi nesneler için seçeceğini belirtiyorum
      var reveals = document.querySelectorAll('#team');

      // bütün bu nesneleri dönüyorum ve başlangıç noktasını
      // windows.innerheight yardımıyla alıyorum
      for (var i = 0; i < reveals.length; i++) {
          var windowheight = window.innerHeight;
          var revealtop = reveals[i].getBoundingClientRect().top;
          var revealpoint = -50;

          // sayfanın üstünde kalan kısmı pointimizden küçük 
          // ise  acive classı ekliyoruz
          if (revealtop < windowheight - revealpoint) {
              // class ekleme işlemi
            //   console.log("revealtop",revealtop)
            //   console.log("point",windowheight - revealpoint)
              reveals[i].classList.add('active');
            //   console.log('aktif')
          }
     
         


      }
  }

</script>
</body>
