  @section Alt_Menu{
      <div class="container my-5 py-5 px-lg-5">
       <div class="row g-5 py-5">
            <div class="col-lg-12 text-center text-lg-start">
                <h1 class="text-white mb-4 animated zoomIn">Geri Bildirim İçin Bizimle İletişime Geçiniz . . .</h1>
                <p class="text-white pb-3 animated zoomIn">Şikayet , Öneri ve Fikirleriniz   bizim için değerldir.
                    </p>
            </div>
            <div class="col-lg-6 text-center text-lg-start">
                @*<img class="img-fluid" src="img/hero.png" alt="">*@
            </div>
        </div>
        </div>
  }


<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Icon Font Stylesheet -->
    @* <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet"> *@

    <style>
        .Baslik {
            font-family: 'Lobster Two', cursive;
            font-weight: 700;
        }
        
        .btn {
            font-weight: 500;
            text-transform: uppercase;
            transition: .5s;
        }
        
        .btn.btn-primary,
        .btn.btn-secondary {
            color: #FFFFFF;
        }
       
    </style>
</head>

<body>
    <div class="container-xxl bg-white p-0 mb-5">





        <!-- Contact Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h1 class="mb-3 Baslik">İletişim Formu</h1>
                    <h5 class="mb-5 Baslik"><span class="text-warning text-uppercase">Görüşleriniz </span> bizim için değerlidir.</h5>
                </div>
                <div class="row g-4">
                    <!--Tepeler-->
                    <div class="col-12">
                        <div class="row gy-4">
                            <div class="col-md-6 col-lg-4 text-center wow fadeInUp" data-wow-delay="0.1s">
                                <div class="bg-light rounded-circle d-inline-flex align-items-center justify-content-center mb-4" style="width: 75px; height: 75px;">
                                    <i class="fa fa-map-marker-alt fa-2x text-warning"></i>
                                </div>
                                <h6>Çiftlik köy / Yenişehir / Mersin</h6>
                            </div>
                            <div class="col-md-6 col-lg-4 text-center wow fadeInUp" data-wow-delay="0.3s">
                                <div class="bg-light rounded-circle d-inline-flex align-items-center justify-content-center mb-4" style="width: 75px; height: 75px;">
                                    <i class="fa fa-envelope-open fa-2x text-warning"></i>
                                </div>
                                <h6>DocentHesapla@gmail.com</h6>
                            </div>
                            <div class="col-md-6 col-lg-4 text-center wow fadeInUp" data-wow-delay="0.5s">
                                <div class="bg-light rounded-circle d-inline-flex align-items-center justify-content-center mb-4" style="width: 75px; height: 75px;">
                                    <i class="fa fa-phone-alt fa-2x text-warning"></i>
                                </div>
                                <h6>0 555 004 63 33</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeIn" data-wow-delay="0.1s">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6390.877296882755!2d34.52311327627014!3d36.78403196980746!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15278ac93d5a3f71%3A0x7eb846bcbf77920e!2sMersin%20%C3%9Cniversitesi!5e0!3m2!1str!2str!4v1648944050837!5m2!1str!2str"
                            width="550" height="380" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="col-md-6">
                        <div class="wow fadeInUp" data-wow-delay="0.2s">
                            <form>
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="name" placeholder="Adınız">
                                            <label for="name">Adınız</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="email" class="form-control" id="email" placeholder="Mail Adresiniz">
                                            <label for="email">Mail Adresiniz</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="subject" placeholder="Subject">
                                            <label for="subject">Konu Başlığı</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 150px"></textarea>
                                            <label for="message">Mesajınız</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-warning text-white w-100 py-3" type="submit">Mesaj Gönder</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>





    </div>


</body>

</html>