  @section Alt_Menu{
      <div class="container my-5 py-5 px-lg-5">
       <div class="row g-5 py-5">
            <div class="col-lg-12 text-center text-lg-start">
                <h1 class="text-white mb-4 animated zoomIn">Geri Bildirim için Bizimle İletişime Geçiniz</h1>
                <p class="text-white pb-3 animated zoomIn"> Görüşleriniz bizim için değerldir
                    </p>
                <a asp-action="Index" asp-controller="Science" class="btn btn-outline-light py-sm-3 px-sm-5 rounded-pill animated slideInRight">Hesaplamaya Başla >></a>
            </div>
            <div class="col-lg-6 text-center text-lg-start">
                @*<img class="img-fluid" src="img/hero.png" alt="">*@
            </div>
        </div>
        </div>
  }
