
  @section Alt_Menu{
   @*<partial name="~/Views/Science/Partial/Selectbox.cshtml" />*@
     <h3 class="col-md-6 text-white display-4 "  style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;margin-top:0.6em;">  Akademik Teşvik Puanı Hesaplama</h3>
   
   <div class="">
       <h4 class="Calculation_information"> 
           Bu Sayfa Tasarım Esnasında istek olması Durumda Hazırlanacaktır.
        
       </h4>
       <br>
     <h5 class="Calculation_information2 col-md-8">
        @*   Java Script Nasıl Aktif Edilir ? => 
           <a style="color: red;"  href="#capa"> Videolu Anlatım için tıklayınız. </a>
*@
       </h5>
   </div>
  }