<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mersin Üniverstesi</title>
    <link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />



    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="container-xxl bg-white p-0">



        <div class="container-xxl position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
                <a href="" class="navbar-brand p-0">
                    <h1 class="m-0"><i class="fa fa-search me-2"></i>Doçentlik<span class="fs-5">Hesaplama</span></h1>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0" style="margin-right: 200px;">
                        <a asp-controller="Home" asp-action="Index" class="nav-item nav-link" id="home">Ana Sayfa</a>
                        <a asp-controller="Science" asp-action="Index" class="nav-item nav-link" id="science">Bilimler</a>
                        <a asp-controller="Home" asp-action="About" class="nav-item nav-link" id="about">Hakkımızda</a>
                        <a asp-controller="Home" asp-action="Contact" class="nav-item nav-link" id="contact">İletişim</a>
                    </div>

                    <div class="nav-item dropdown  btn btn-secondary text-light rounded-pill py-2 px-4 ms-3 " data-bs-toggle="dropdown">
                        Giriş Yap
                        <div class="dropdown-menu m-0  mt-2 mr-4">
                            <a asp-controller="home" asp-action="Login" class="dropdown-item">Giriş</a>
                            <a asp-controller="home" asp-action="SignUp" class="dropdown-item">Kayıt Ol</a>
                            <a asp-controller="" asp-action="" class="dropdown-item">404 Page</a>
                        </div>

                    </div>
                </div>
            </nav>

            <div class="container-xxl py-5 bg-primary hero-header mb-5">

                <div class="container my-5 py-5 px-lg-5">
                    <div class="row g-5 py-5">
                        @RenderSection("Alt_Menu",false)
                    </div>
                </div>
            </div>

            <div>
                @RenderBody();
            </div>

        </div>

    </div>

    @*        <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/jquery-validate/jquery.validate.js"></script>*@
    <script src="~/jquery/jquery.js"></script>
    @*<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>*@
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>
