
@section Alt_Menu{
    
<h1 class="col-md-12 text-white display-6 text-center" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
    Eğitim bilimleri doçentlik puan hesaplama </h1>
   <partial name="~/Views/MemberScience/MemberPartial/MemberSelectbox.cshtml" />
<div class="">
    <h4 class="Calculation_information">
        Eğitim bilimleri temel alanında başvurulan doçentlik bilim alanı ile ilgili olarak aşağıdaki
        çalışmalara verilen birim puanlar esas alınmak suretiyle; en az doksan (90) puanının
        doktora unvanının alınmasından sonra gerçekleştirilen çalışmalardan elde edilmiş
        olması kaydıyla, asgari yüz (100) puan karşılığı bilimsel etkinlikte bulunmuş olması
        gerekir. Her çalışma Tablo 1' de sadece bir bölümde yazılarak puanlandırılır.
    </h4>
    <h5 class="Calculation_information2 col-md-8">
        Tek yazarlı yayınlarda yazar tam puan alır. Çok yazarlı yayınlarda puan yazarlar arasında
        eşit olarak bölünür.
    </h5>
</div>
  }
