@section Alt_Menu{

<h1 class="col-md-12 text-white display-3 text-center"
  style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
  Tesvik Hesaplama
</h1>
<h2 class="col-md-12 text-white display-6 text-center"
  style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
  Maddelerin
</h2>
<div class="">
  <h4 class="Calculation_information">
    Bu sayfa Tasarım Aşamasında Tasarımın hızlandırmasını istiyorsanız iletişim kısmından bize bildiriniz
  </h4>
  <br>
  <h5 class="Calculation_information2 col-md-8">
  </h5>
</div>
}

<head>
  <link href="~/css/tesvikmadde.css" rel="stylesheet">

</head>

<section class="container " style="margin-bottom: 200px;">

  <h2 class="text-center display-5 text-primary mb-5"> AKADEMİK TEŞVİK ÖDENEĞİ YÖNETMELİĞİ</h2>
  <div class="Madde1">
    <h3 class="text-primary"><b>Amaç ve kapsam</b></h3>
    <h5><b>Madde 1 -)</b> <span>Bu Yönetmeliğin amacı</span></h5>
    <p class="text-secondary Maddetext">
      Yükseköğretim kurumları kadrolarında bulunan öğretim elemanlarına yapılacak
      akademik teşvik ödeneğinin uygulanmasına yönelik olarak, bilim alanlarının özellikleri ve
      öğretim elemanlarının unvanlarına göre akademik teşvik puanlarının hesaplanmasında esas alınacak
      faaliyetlerin özellikleri ve puan karşılıkları, akademik teşvik toplam puanının %30’unu geçmemek
      üzere her bir akademik faaliyet türünün toplam puanın hesaplanmasındaki ağırlıkları, akademik teşvik puanının
      hesaplanmasına
      ve bu hesaplamaları yapacak komisyonun oluşumu ile diğer hususları belirlemektir.
    </p>
  </div>
  <div class="Madde2">
    <h3 class="text-primary"><b> Dayanak</b></h3>
    <h5><b>Madde 2 -)</b> <span>Bu Yönetmelik</span></h5>
    <p class="text-secondary Maddetext">
      11/10/1983 tarihli ve 2914 sayılı Yükseköğretim Personel Kanununun ek 4 üncü maddesine dayanılarak hazırlanmıştır.
    </p>
  </div>

  <div class="Madde3">
    <h3 class="text-primary"><b> Tanımlar ve kısaltmalar</b></h3>
    <h5><b>Madde 3 -)</b> <span>Bu Yönetmeliğin uygulanmasında</span></h5>
    <p class="text-secondary Maddetext">
      11/10/1983 tarihli ve 2914 sayılı Yükseköğretim Personel Kanununun ek 4 üncü maddesine dayanılarak hazırlanmıştır.
    </p>
    <div>
      <a onclick="Maddeler('Madde3btn')" id="Madde3btn" class="btn btn-primary mb-5" data-toggle="collapse"
        href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample3">
        Maddeleri Göster
      </a>
      <ol type="A" class="collapse" id="collapseExample3">
        <li>
          <p>AHCI: Sanat ve Beşeri Bilimler Endeksi (Art and Humanities Index)’ni,</p>
        </li>
        <li>
          <p>Alan endeksleri: Üniversitelerarası Kurul Başkanlığı tarafından hazırlanıp Yükseköğretim Kurulunca
            onaylanan
            doçentlik başvurusu için kabul edilen endeksleri</p>
        </li>
        <li>
          <p>Atıf: Bir esere başka bir eserde alıntı yapılmasını</p>
        </li>
        <li>
          <p>En yüksek Devlet memuru brüt aylığı: (9.500) [aylık gösterge rakamı (1.500) + ek gösterge rakamı (8.000)]
            gösterge rakamının, memur aylık katsayısı ile çarpımı sonucu bulunan tutarı</p>
        </li>
        <li>
          <p>
            Faaliyet: Her bir takvim yılı için bir önceki yıl, bilim, teknoloji ve sanata katkı sağlayıcı nitelikte
            yurtiçinde veya yurtdışında sonuçlandırılan proje, araştırma, yayın, tasarım, sergi, patent ile
            çalışmalarına
            yapılan atıfları, bilim kurulu bulunan uluslararası düzeydeki toplantılarda sunulan tebliğleri ve alınan
            akademik ödülleri
          </p>
        </li>
        <li>
          <p> Komisyon: Akademik teşvik düzenleme, denetleme ve itiraz komisyonunu</p>
        </li>
        <li>
          <p>
            Ödül: Başvuru sahibinin, kendi alanı ile ilgili yapmış olduğu mesleki, bilimsel veya sanatsal faaliyetler
            dolayısıyla almış olduğu ödülleri
          </p>
        </li>

        <li>
          <p>
            Proje: Amacı, kapsamı, genel ve teknik tanımı, süresi, bütçesi, özel şartları, diğer kurum, kuruluşlar ile
            gerçek ve tüzel kişilerce sağlanacak ayni ve/veya nakdi destek tutarları, sonuçta doğacak fikri mülkiyet
            haklarının paylaşım esasları tespit edilmiş ve Ar-Ge faaliyetlerinin her safhasını belirleyecek mahiyette ve
            bilimsel esaslar çerçevesinde gerçekleştirilen faaliyetler bütününü
          </p>
        </li>
        <li>
          <p> SCI: Bilim Atıf Endeksi (Science Citation Index)’ni</p>
        </li>
        <li>
          <p>SCI-Expanded: Genişletilmiş-Bilim Atıf Endeksi (Science Citation Index-Expanded)’ni</p>
        </li>
        <li>
          <p>Sergi: Sanatsal niteliği haiz sergi, bienal, trienal, gösteri, dinleti, festival veya gösterim
            etkinliklerini</p>
        </li>
        <li>
          <p>
            SSCI: Sosyal Bilimler Atıf Endeksi (Social Sciences Citation Index)’ni,
          </p>
        </li>
        <li>
          <p>
            Takvim yılı: 1 Ocak ile 31 Aralık tarihleri arasındaki zamanı,
          </p>
        </li>
        <li>
          <p>
            (Danıştay Sekizinci Dairesinin 21/12/2021 tarihli ve E.:2021/6094 sayılı kararı ile yürütmesi durdurulan
            bent; Tanınmış ulusal yayınevi: En az beş yıldır ulusal düzeyde düzenli faaliyet yürüten, daha önce aynı
            alanda farklı yazarlara ait en az yirmi kitap yayımlamış ve yükseköğretim kurumu senatosunun kararıyla
            alanında etkinliği ve saygınlığı kabul edilen yayınevini)
          </p>
        </li>
        <li>
          <p>Tanınmış uluslararası yayınevi: En az beş yıldır uluslararası düzeyde düzenli faaliyet yürüten, Türkçe
            dışındaki dillerde aynı alanda farklı yazarlara ait en az yirmi kitap yayımlamış ve yükseköğretim kurumu
            senatosunun kararıyla alanında etkinliği ve saygınlığı kabul edilen yayınevini</p>
        </li>
        <li>
          <p>(Değişik:RG-17/1/2020-31011-CK-2043/1 md.) Tasarım: Bir yapı, ürün veya nesnenin özgün ilk çizimi veya
            özgün
            tasarımını,</p>
        </li>
        <li>
          <p>Tebliğ: Hakemli uluslararası bilimsel konferans, sempozyum veya kongrede sözlü olarak sunulan ve yayımlanan
            bildiriyi,</p>
        </li>
        <li>
          <p> Ulusal patent: Ulusal mevzuat kapsamında başvurusu yapılan ve inceleme raporu sonucunda Türk Patent ve
            Marka
            Kurumu tarafından verilen patenti</p>
        </li>
        <li>
          <p>Uluslararası patent: Patent İşbirliği Antlaşması kapsamında yapılan ve uluslararası araştırma raporunun
            yazılı görüş kısmında veya uluslararası ön inceleme raporunda en az bir istemin patentlenebilirlik
            kriterlerini (yenilik, buluş basamağı, sanayiye uygulanabilirlik) sağladığı ifade edilen uluslararası patent
            başvurusunu veya Avrupa Patent Sözleşmesi kapsamında başvurusu yapılan ve Avrupa Patent Ofisi tarafından
            verilen patenti</p>
        </li>
        <li>
          <p>ULAKBİM: TÜBİTAK Ulusal Akademik Ağ ve Bilgi Merkezini,(1)
          </p>
        </li>
        <li>
          <p> Yayın: Dergilerde yayımlanmış derleme, makale veya kısa makale (editöre mektup, yorum, vaka takdimi,
            teknik
            not, araştırma notu, özet ve kitap kritiği), kitap veya kitap bölümü, editörlük ve editör kurulu üyeliği ve
            ses ve/veya görüntü kaydını</p>
        </li>
        <li>
          <p> YÖKSİS: Yükseköğretim Kurulu Başkanlığı Ortak Veri Tabanını</p>
        </li>
        <li>
          <p>(Ek:RG-17/1/2020-31011-CK-2043/1 md.) Araştırma: Proje maddesi kapsamında olmamak koşuluyla; bilim,
            teknoloji
            ve sanata katkı sağlayıcı nitelikte, kurum dışında görevlendirme ile yurt içinde veya yurt dışında en az
            dört
            ay süreyle yeni bilgiler üretilmesi, teknolojik problemlerin çözümlenmesi/analiz edilmesi, yenilikçi ürün,
            süreç, eser veya tasarımlar geliştirilmesi amacıyla bilimsel esaslara uygun olarak yürütülmüş ve sonuç
            raporu
            ilgili kurumların yetkili mercilerince başarılı bulunarak sonuçlandırılmış sistematik çalışmaları, ifade
            eder
          </p>
        </li>
      </ol>
    </div>

  </div>


  <div class="Madde4">
    <h3 class="text-primary"><b> Akademik teşvik düzenleme, denetleme ve itiraz komisyonu</b></h3>
    <h5><b>Madde 4 -)</b> <span> Bu Yönetmelikte kendisine verilen görevleri yerine getirmek üzere </span></h5>
    <p class="text-secondary Maddetext">
      yükseköğretim kurumları bünyesinde yüksek akademik teşvik puanına sahip öğretim üyelerinden her bir doçentlik
      temel alanından en az bir kişi olmak üzere rektörün her bir üyelik için önereceği üç aday arasından senato
      tarafından seçilen üyelerden oluşan akademik teşvik düzenleme, denetleme ve itiraz komisyonu kurulur. Komisyonun
      başkanlığını rektör tarafından görevlendirilen rektör yardımcısı yürütür. Komisyon, başkan hariç en az dört üyeden
      oluşmak koşuluyla iki yıl süreyle seçilir. Süresi biten üye yeniden seçilebilir. Üyeliğin herhangi bir sebeple
      boşalması halinde kalan süreyi tamamlamak üzere aynı usulle yeni üye seçilir.
    </p>
    <div>
      <a onclick="Maddeler('Madde4btn')" id="Madde4btn" class="btn btn-primary mb-5" data-toggle="collapse"
        href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample4">
        Maddeleri Göster
      </a>
      <ol type="1" class="collapse" id="collapseExample4">
        <li>
          <p> 17/1/2020 tarihli ve 31011 sayılı Resmî Gazete’de yayımlanan 2043 sayılı Cumhurbaşkanı Kararının 1 inci
            maddesiyle, fıkranın (l) bendine “düzenli faaliyet yürüten,” ibaresinden sonra gelmek üzere “Türkçe
            dışındaki dillerde” ibaresi eklenmiş, (p) bendine “Ulusal Akademik Ağ” ibaresinden önce gelmek üzere
            “TÜBİTAK” ibaresi eklenmiş, (r) bendinde yer alan “yayınlanmış” ibaresi “yayımlanmış” şeklinde
            değiştirilmiştir.,</p>
        </li>
        <li>
          <p>Komisyon, başkan dahil üye tamsayısının salt çoğunluğu ile toplanır ve toplantıya katılanların salt
            çoğunluğu ile karar alır. Oyların eşit olması halinde komisyon başkanının oyu yönünde karar alınmış sayılır.
            Üyeler çekimser oy kullanamaz.</p>
        </li>
        <li>
          <p>Komisyon, başvurular başlamadan önce uygulama usul ve ilkelerinin belirlenerek duyurulmasından, akademik
            teşvik başvuru takviminin hazırlanmasından, yürütülmesinden ve ödeme yapılacak yılın 15 Şubat tarihine kadar
            sürecin tamamlanmasından sorumludur.</p>
        </li>
        <li>
          <p>Komisyon, faaliyetlerin belgelendirilmesinde ve faaliyet türleri içerisinde sınıflandırılmasında oluşan
            tereddütlerin giderilmesinde nihai karar merciidir.</p>
        </li>


    </div>

  </div>

  <div class="Madde5">
    <h3 class="text-primary"><b> Birim akademik teşvik başvuru ve inceleme komisyonu</b></h3>
    <h5><b>Madde 5 -)</b> <span>  </span></h5>
    <p class="text-secondary Maddetext">
      
    </p>
    <div>
      <a onclick="Maddeler('Madde5btn')" id="Madde5btn" class="btn btn-primary mb-5" data-toggle="collapse"
        href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample5">
        Maddeleri Göster
      </a>
      <ol type="1" class="collapse" id="collapseExample5">
        <li>
          <p> Bu Yönetmelikte kendisine verilen görevleri yerine getirmek üzere yükseköğretim kurumlarının her bölüm, anabilim dalı veya anasanat dalı başkanlıkları bünyesinde en az üçer üyeden oluşan birim akademik teşvik başvuru ve inceleme komisyonu kurulur. Birim akademik teşvik başvuru ve inceleme komisyonu başkanlığı, ilgili bölüm, anabilim dalı veya anasanat dalı başkanı tarafından yürütülür. Birim akademik teşvik başvuru ve inceleme komisyonu üyeleri ise ilgili birimin Yönetim Kurulu tarafından, yüksek akademik teşvik puanına sahip olan öğretim elemanları arasından seçilerek oluşturulur. Bölüm, anabilim dalı veya anasanat dalı başkanlıkları bünyesinde yeterli öğretim elemanı bulunmaması halinde, üyeler yakın alanlardaki öğretim elemanları ile tamamlanır. Birim akademik teşvik başvuru ve inceleme komisyonu üyeleri iki yıl için seçilir. Süresi biten üye yeniden seçilebilir. Üyeliğin herhangi bir sebeple boşalması halinde kalan süreyi tamamlamak üzere aynı usulle yeni üye seçilir.</p>
        </li>
        <li>
          <p>Birim akademik teşvik başvuru ve inceleme komisyonu, başkan dahil üye tamsayısının salt çoğunluğu ile toplanır ve toplantıya katılanların salt çoğunluğu ile karar alır. Oyların eşit olması halinde komisyon başkanının oyu yönünde karar alınmış sayılır. Üyeler çekimser oy kullanamaz.</p>
        </li>
        <li>
          <p>Birim akademik teşvik başvuru ve inceleme komisyonu, faaliyetlerin bu Yönetmelik hükümlerine uygun olarak değerlendirilmesinden sorumludur ve faaliyetlerin belgelendirilmesinde ve faaliyet türleri içerisinde sınıflandırılmasında oluşan tereddütleri gidermeye yetkilidir.</p>
        </li>
        <li>
          <p>(Ek:RG-17/1/2020-31011-CK-2043/2 md.) Yeterli öğretim elemanı bulunması durumunda, birim akademik teşvik başvuru ve inceleme komisyonu üyeleri aynı zamanda akademik teşvik düzenleme, denetleme ve itiraz komisyonu üyesi olarak görevlendirilmezler.</p>
        </li>


    </div>

  </div>



  <div class="Madde6">
    <h3 class="text-primary"><b> Akademik teşvik başvuru ve değerlendirme süreci</b></h3>
    <h5><b>Madde 6 -)</b> <span>  </span></h5>
    <p class="text-secondary Maddetext">
      
    </p>
    <div>
      <a onclick="Maddeler('Madde6btn')" id="Madde6btn" class="btn btn-primary mb-5" data-toggle="collapse"
        href="#collapseExample6" role="button" aria-expanded="false" aria-controls="collapseExample6">
        Maddeleri Göster
      </a>
      <ol type="1" class="collapse" id="collapseExample6">
        <li>
          <p>Öğretim elemanları, akademik teşvik başvurularını yayımlanan başvuru takvimi kapsamında kadrolarının bulunduğu yükseköğretim kurumunun ilgili birim akademik teşvik başvuru ve inceleme komisyonuna YÖKSİS’ten alınan çıktı ile birlikte akademik faaliyetlere ilişkin örnek, kanıt ve belgeleri ilan edilen usule uygun olarak sunar. Birim akademik teşvik başvuru ve inceleme komisyonu, değerlendirmelerin tüm aşamalarında gerekli gördüğü hallerde başvuru sahiplerinden akademik faaliyetlerine ilişkin ek açıklama, bilgi ve belgeler talep edebilir. Başvuru sahipleri, söz konusu talepleri yerine getirmekle yükümlüdür. Öğretim elemanlarınca yapılan başvurular birim akademik teşvik başvuru ve inceleme komisyonu tarafından incelenir.</p>
        </li>
        <li>
          <p>Yükseköğretim kurumu değişikliği durumunda YÖKSİS çıktısında her bir faaliyetin hangi kurumda gerçekleştirildiği gösterilir ve farklı kurumlarda gerçekleşen akademik faaliyetlerin değerlendirilmesi öğretim elemanının kadrosunun bulunduğu yükseköğretim kurumunda yapılır.</p>
        </li>
        <hr>
       </ol>
     <ol type="1" class="collapse" id="collapseExample6">
        <li>
          <p>17/1/2020 tarihli ve 31011 sayılı Resmî Gazete’de yayımlanan 2043 sayılı Cumhurbaşkanı Kararının 2 nci maddesiyle, bu fıkraya “inceleme komisyonu,” ibaresinden sonra gelmek üzere “faaliyetlerin bu Yönetmelik hükümlerine uygun olarak değerlendirilmesinden sorumludur ve” ibaresi eklenmiştir.</p>
        </li>
        <li>
          <p>Bu Madde Boş bırakılmış</p>
        </li>
        <li>
          <p>Başvuru sahipleri, alanları ile ilgili yapmış oldukları faaliyetlerine uygun birim akademik teşvik başvuru ve inceleme komisyonuna başvuru yapmakla yükümlüdür. Birim akademik teşvik başvuru ve inceleme komisyonu öncelikle başvuru sahibinin faaliyetlerinin incelenmeye uygun olup olmadığına karar verir. Uygun görülmeyen başvurular gerekçeli olarak, değerlendirilmek üzere komisyona iletilir.</p>
        </li>
        <li>
          <p>Birim akademik teşvik başvuru ve inceleme komisyonu başvuruları inceleyerek hazırladığı karar tutanağını, başvurularla ilgili değerlendirme raporunu ve ekinde puan tablosunu imzalı olarak rektörlüğe bağlı bölümlerde bölüm başkanı, fakültelerde dekan, diğer birimlerde ise müdür tarafından onaylanmış olarak komisyona ilan edilen takvime uygun olarak gönderir. Birim akademik teşvik başvuru ve inceleme komisyonu tarafından hazırlanan değerlendirme raporunda reddedilen veya puan değerinde değişiklik yapılan akademik faaliyetlerle ilgili olarak açıklamada bulunulması zorunludur.</p>
        </li>
        <li>
          <p>Komisyon, birim akademik teşvik başvuru ve inceleme komisyonu tarafından gönderilen başvuruları ve değerlendirme kararlarını inceler. Gerekli gördüğü hallerde başvuru sahiplerinden ek belge ve bilgi talep edebilir ve/veya birimlerden gelen kararlar üzerinde değişiklik yapabilir. Komisyon, hazırladığı karar tutanağını, başvurularla ilgili değerlendirme raporunu ve ekinde puan tablosunu imza altına alır ve nihai kararlarını ilgili araştırmacılara yazılı olarak veya elektronik ortamda duyurur. Komisyon tarafından hazırlanan değerlendirme raporunda reddedilen veya puan değerinde değişiklik yapılan akademik faaliyetlerle ilgili olarak açıklamada bulunulması zorunludur.</p>
        </li>
        <li>
          <p>Komisyon kararlarına karşı duyuru tarihinden itibaren beş işgünü içinde yazılı olarak itiraz edilebilir. Komisyon itirazları, itiraz süresinin bittiği tarihten itibaren en geç beş işgünü içerisinde karara bağlar. Komisyonun vereceği kararlar kesindir.</p>
        </li>
        <li>
          <p>Devlet yükseköğretim kurumlarından vakıf yükseköğretim kurumlarında görevlendirilen öğretim elemanlarının görevlendirme süresince vakıf yükseköğretim kurumlarında gerçekleştirdikleri faaliyetler akademik teşvik puanlarının hesaplanmasında dikkate alınmaz. Vakıf yükseköğretim kurumlarından veya başka bir kurumdan Devlet yükseköğretim kurumları kadrolarına geçen öğretim elemanlarının akademik teşvik puanlarının hesaplanmasında sadece Devlet yükseköğretim kurumlarında gerçekleştirdikleri faaliyetler esas alınır.</p>
        </li>
        <li>
          <p> Görevlendirme nedeniyle kurum dışında bulunan öğretim elemanları, kadrolarının bulunduğu kurumlarda uzmanlıklarına uygun birimlere başvuruda bulunur.</p>
        </li>
        <li>
          <p>Yabancı uyruklu öğretim elemanları akademik teşvik ödeneğinden yararlanamaz.</p>
        </li>
       </ol>

    </div>

  </div>
</section>

<script>
  const Maddeler = (Btnid) => {
    let button = document.getElementById(Btnid);
    let b = button.innerHTML.includes("Göster");
    if (b) {
      button.innerHTML = "Maddeleri Gizle";
      button.classList.remove("btn-primary");
      button.classList.add("btn-success");
    }
    else {
      button.innerHTML = "Maddeleri Göster";
      button.classList.remove("btn-success");
      button.classList.add("btn-primary");

    }
  }
  const MyActive = () => {
    let link = document.querySelector('#science');
    link.classList.add("active");
  }
  MyActive();
</script>