@section head{
<title>Akademik Teşvik ödeneği yönetmeliği</title>
<meta name="keywords" content="teşvik hesaplama,akademik teşvik hesaplama, akademik teşvik ödeneği, ">
<meta name="author" content="Akademik Teşvik">
<meta name="description" content="Akademik Hesaplamalar ,Akademik Teşvik hesaplama  , teşvik hesaplama işlemleri" />
}

@section Alt_Menu{

<h1 class="col-md-12 text-white display-3 text-center"
    style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
    Tesvik Hesaplama
</h1>
<h2 class="col-md-12 text-white display-6 text-center"
    style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
    Maddelerin
</h2>
<div class="">
    <h4 class="Calculation_information">
        Bu sayfa Tasarım Aşamasında Tasarımın hızlandırmasını istiyorsanız iletişim kısmından bize bildiriniz
    </h4>
    <br>
    <h5 class="Calculation_information2 col-md-8">
        <a asp-action="TesvikHesaplama" asp-controller="Tesvik"
           class="btn btn-outline-light py-sm-3 px-sm-5 rounded-pill animated slideInRight">
            Akademik Teşvik Hesaplama>>
        </a>
    </h5>
</div>
}

<head>
    <link href="~/css/tesvikmadde.css" rel="stylesheet">

</head>

<section class="container " style="margin-bottom: 200px;">

    <h2 class="text-center display-5 text-primary mb-5"> AKADEMİK TEŞVİK ÖDENEĞİ YÖNETMELİĞİ</h2>
    <div class="Madde1">
        <h3 class="text-primary"><b>Amaç ve kapsam</b></h3>
        <h5><b>Madde 1 -)</b> <span>Bu Yönetmeliğin amacı</span></h5>
        <p class="text-secondary Maddetext">
            Yükseköğretim kurumları kadrolarında bulunan öğretim elemanlarına yapılacak
            akademik teşvik ödeneğinin uygulanmasına yönelik olarak, bilim alanlarının özellikleri ve
            öğretim elemanlarının unvanlarına göre akademik teşvik puanlarının hesaplanmasında esas alınacak
            faaliyetlerin özellikleri ve puan karşılıkları, akademik teşvik toplam puanının %30’unu geçmemek
            üzere her bir akademik faaliyet türünün toplam puanın hesaplanmasındaki ağırlıkları, akademik teşvik
            puanının
            hesaplanmasına
            ve bu hesaplamaları yapacak komisyonun oluşumu ile diğer hususları belirlemektir.
        </p>
    </div>
    <div class="Madde2">
        <h3 class="text-primary"><b> Dayanak</b></h3>
        <h5><b>Madde 2 -)</b> <span>Bu Yönetmelik</span></h5>
        <p class="text-secondary Maddetext">
            11/10/1983 tarihli ve 2914 sayılı Yükseköğretim Personel Kanununun ek 4 üncü maddesine dayanılarak
            hazırlanmıştır.
        </p>
    </div>

    <div class="Madde3">
        <h3 class="text-primary"><b> Tanımlar ve kısaltmalar</b></h3>
        <h5><b>Madde 3 -)</b> <span>Bu Yönetmeliğin uygulanmasında</span></h5>
        <p class="text-secondary Maddetext">
            11/10/1983 tarihli ve 2914 sayılı Yükseköğretim Personel Kanununun ek 4 üncü maddesine dayanılarak
            hazırlanmıştır.
        </p>
        <div>
            <a onclick="Maddeler('Madde3btn')" id="Madde3btn" class="btn btn-primary mb-5" data-toggle="collapse"
               href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample3">
                Maddeleri Göster
            </a>
            <ol type="A" class="collapse" id="collapseExample3">
                <li>
                    <p>AHCI: Sanat ve Beşeri Bilimler Endeksi (Art and Humanities Index)’ni,</p>
                </li>
                <li>
                    <p>
                        Alan endeksleri: Üniversitelerarası Kurul Başkanlığı tarafından hazırlanıp Yükseköğretim
                        Kurulunca
                        onaylanan
                        doçentlik başvurusu için kabul edilen endeksleri
                    </p>
                </li>
                <li>
                    <p>Atıf: Bir esere başka bir eserde alıntı yapılmasını</p>
                </li>
                <li>
                    <p>
                        En yüksek Devlet memuru brüt aylığı: (9.500) [aylık gösterge rakamı (1.500) + ek gösterge rakamı
                        (8.000)]
                        gösterge rakamının, memur aylık katsayısı ile çarpımı sonucu bulunan tutarı
                    </p>
                </li>
                <li>
                    <p>
                        Faaliyet: Her bir takvim yılı için bir önceki yıl, bilim, teknoloji ve sanata katkı sağlayıcı
                        nitelikte
                        yurtiçinde veya yurtdışında sonuçlandırılan proje, araştırma, yayın, tasarım, sergi, patent ile
                        çalışmalarına
                        yapılan atıfları, bilim kurulu bulunan uluslararası düzeydeki toplantılarda sunulan tebliğleri
                        ve alınan
                        akademik ödülleri
                    </p>
                </li>
                <li>
                    <p> Komisyon: Akademik teşvik düzenleme, denetleme ve itiraz komisyonunu</p>
                </li>
                <li>
                    <p>
                        Ödül: Başvuru sahibinin, kendi alanı ile ilgili yapmış olduğu mesleki, bilimsel veya sanatsal
                        faaliyetler
                        dolayısıyla almış olduğu ödülleri
                    </p>
                </li>

                <li>
                    <p>
                        Proje: Amacı, kapsamı, genel ve teknik tanımı, süresi, bütçesi, özel şartları, diğer kurum,
                        kuruluşlar ile
                        gerçek ve tüzel kişilerce sağlanacak ayni ve/veya nakdi destek tutarları, sonuçta doğacak fikri
                        mülkiyet
                        haklarının paylaşım esasları tespit edilmiş ve Ar-Ge faaliyetlerinin her safhasını belirleyecek
                        mahiyette ve
                        bilimsel esaslar çerçevesinde gerçekleştirilen faaliyetler bütününü
                    </p>
                </li>
                <li>
                    <p> SCI: Bilim Atıf Endeksi (Science Citation Index)’ni</p>
                </li>
                <li>
                    <p>SCI-Expanded: Genişletilmiş-Bilim Atıf Endeksi (Science Citation Index-Expanded)’ni</p>
                </li>
                <li>
                    <p>
                        Sergi: Sanatsal niteliği haiz sergi, bienal, trienal, gösteri, dinleti, festival veya gösterim
                        etkinliklerini
                    </p>
                </li>
                <li>
                    <p>
                        SSCI: Sosyal Bilimler Atıf Endeksi (Social Sciences Citation Index)’ni,
                    </p>
                </li>
                <li>
                    <p>
                        Takvim yılı: 1 Ocak ile 31 Aralık tarihleri arasındaki zamanı,
                    </p>
                </li>
                <li>
                    <p>
                        (Danıştay Sekizinci Dairesinin 21/12/2021 tarihli ve E.:2021/6094 sayılı kararı ile yürütmesi
                        durdurulan
                        bent; Tanınmış ulusal yayınevi: En az beş yıldır ulusal düzeyde düzenli faaliyet yürüten, daha
                        önce aynı
                        alanda farklı yazarlara ait en az yirmi kitap yayımlamış ve yükseköğretim kurumu senatosunun
                        kararıyla
                        alanında etkinliği ve saygınlığı kabul edilen yayınevini)
                    </p>
                </li>
                <li>
                    <p>
                        Tanınmış uluslararası yayınevi: En az beş yıldır uluslararası düzeyde düzenli faaliyet yürüten,
                        Türkçe
                        dışındaki dillerde aynı alanda farklı yazarlara ait en az yirmi kitap yayımlamış ve
                        yükseköğretim kurumu
                        senatosunun kararıyla alanında etkinliği ve saygınlığı kabul edilen yayınevini
                    </p>
                </li>
                <li>
                    <p>
                        (Değişik:RG-17/1/2020-31011-CK-2043/1 md.) Tasarım: Bir yapı, ürün veya nesnenin özgün ilk
                        çizimi veya
                        özgün
                        tasarımını,
                    </p>
                </li>
                <li>
                    <p>
                        Tebliğ: Hakemli uluslararası bilimsel konferans, sempozyum veya kongrede sözlü olarak sunulan ve
                        yayımlanan
                        bildiriyi,
                    </p>
                </li>
                <li>
                    <p>
                        Ulusal patent: Ulusal mevzuat kapsamında başvurusu yapılan ve inceleme raporu sonucunda Türk
                        Patent ve
                        Marka
                        Kurumu tarafından verilen patenti
                    </p>
                </li>
                <li>
                    <p>
                        Uluslararası patent: Patent İşbirliği Antlaşması kapsamında yapılan ve uluslararası araştırma
                        raporunun
                        yazılı görüş kısmında veya uluslararası ön inceleme raporunda en az bir istemin
                        patentlenebilirlik
                        kriterlerini (yenilik, buluş basamağı, sanayiye uygulanabilirlik) sağladığı ifade edilen
                        uluslararası patent
                        başvurusunu veya Avrupa Patent Sözleşmesi kapsamında başvurusu yapılan ve Avrupa Patent Ofisi
                        tarafından
                        verilen patenti
                    </p>
                </li>
                <li>
                    <p>
                        ULAKBİM: TÜBİTAK Ulusal Akademik Ağ ve Bilgi Merkezini,(1)
                    </p>
                </li>
                <li>
                    <p>
                        Yayın: Dergilerde yayımlanmış derleme, makale veya kısa makale (editöre mektup, yorum, vaka
                        takdimi,
                        teknik
                        not, araştırma notu, özet ve kitap kritiği), kitap veya kitap bölümü, editörlük ve editör kurulu
                        üyeliği ve
                        ses ve/veya görüntü kaydını
                    </p>
                </li>
                <li>
                    <p> YÖKSİS: Yükseköğretim Kurulu Başkanlığı Ortak Veri Tabanını</p>
                </li>
                <li>
                    <p>
                        (Ek:RG-17/1/2020-31011-CK-2043/1 md.) Araştırma: Proje maddesi kapsamında olmamak koşuluyla;
                        bilim,
                        teknoloji
                        ve sanata katkı sağlayıcı nitelikte, kurum dışında görevlendirme ile yurt içinde veya yurt
                        dışında en az
                        dört
                        ay süreyle yeni bilgiler üretilmesi, teknolojik problemlerin çözümlenmesi/analiz edilmesi,
                        yenilikçi ürün,
                        süreç, eser veya tasarımlar geliştirilmesi amacıyla bilimsel esaslara uygun olarak yürütülmüş ve
                        sonuç
                        raporu
                        ilgili kurumların yetkili mercilerince başarılı bulunarak sonuçlandırılmış sistematik
                        çalışmaları, ifade
                        eder
                    </p>
                </li>
            </ol>
        </div>

    </div>


    <div class="Madde4">
        <h3 class="text-primary"><b> Akademik teşvik düzenleme, denetleme ve itiraz komisyonu</b></h3>
        <h5><b>Madde 4 -)</b> <span> Bu Yönetmelikte kendisine verilen görevleri yerine getirmek üzere </span></h5>
        <p class="text-secondary Maddetext">
            yükseköğretim kurumları bünyesinde yüksek akademik teşvik puanına sahip öğretim üyelerinden her bir
            doçentlik
            temel alanından en az bir kişi olmak üzere rektörün her bir üyelik için önereceği üç aday arasından senato
            tarafından seçilen üyelerden oluşan akademik teşvik düzenleme, denetleme ve itiraz komisyonu kurulur.
            Komisyonun
            başkanlığını rektör tarafından görevlendirilen rektör yardımcısı yürütür. Komisyon, başkan hariç en az dört
            üyeden
            oluşmak koşuluyla iki yıl süreyle seçilir. Süresi biten üye yeniden seçilebilir. Üyeliğin herhangi bir
            sebeple
            boşalması halinde kalan süreyi tamamlamak üzere aynı usulle yeni üye seçilir.
        </p>
        <div>
            <a onclick="Maddeler('Madde4btn')" id="Madde4btn" class="btn btn-primary mb-5" data-toggle="collapse"
               href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample4">
                Maddeleri Göster
            </a>
            <ol type="1" class="collapse" id="collapseExample4">
                <li>
                    <p>
                        17/1/2020 tarihli ve 31011 sayılı Resmî Gazete’de yayımlanan 2043 sayılı Cumhurbaşkanı Kararının
                        1 inci
                        maddesiyle, fıkranın (l) bendine “düzenli faaliyet yürüten,” ibaresinden sonra gelmek üzere
                        “Türkçe
                        dışındaki dillerde” ibaresi eklenmiş, (p) bendine “Ulusal Akademik Ağ” ibaresinden önce gelmek
                        üzere
                        “TÜBİTAK” ibaresi eklenmiş, (r) bendinde yer alan “yayınlanmış” ibaresi “yayımlanmış” şeklinde
                        değiştirilmiştir.,
                    </p>
                </li>
                <li>
                    <p>
                        Komisyon, başkan dahil üye tamsayısının salt çoğunluğu ile toplanır ve toplantıya katılanların
                        salt
                        çoğunluğu ile karar alır. Oyların eşit olması halinde komisyon başkanının oyu yönünde karar
                        alınmış sayılır.
                        Üyeler çekimser oy kullanamaz.
                    </p>
                </li>
                <li>
                    <p>
                        Komisyon, başvurular başlamadan önce uygulama usul ve ilkelerinin belirlenerek duyurulmasından,
                        akademik
                        teşvik başvuru takviminin hazırlanmasından, yürütülmesinden ve ödeme yapılacak yılın 15 Şubat
                        tarihine kadar
                        sürecin tamamlanmasından sorumludur.
                    </p>
                </li>
                <li>
                    <p>
                        Komisyon, faaliyetlerin belgelendirilmesinde ve faaliyet türleri içerisinde sınıflandırılmasında
                        oluşan
                        tereddütlerin giderilmesinde nihai karar merciidir.
                    </p>
                </li>

            </ol>
        </div>

    </div>

    <div class="Madde5">
        <h3 class="text-primary"><b> Birim akademik teşvik başvuru ve inceleme komisyonu</b></h3>
        <h5><b>Madde 5 -)</b> <span> </span></h5>
        <p class="text-secondary Maddetext">

        </p>
        <div>
            <a onclick="Maddeler('Madde5btn')" id="Madde5btn" class="btn btn-primary mb-5" data-toggle="collapse"
               href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample5">
                Maddeleri Göster
            </a>
            <ol type="1" class="collapse" id="collapseExample5">
                <li>
                    <p>
                        Bu Yönetmelikte kendisine verilen görevleri yerine getirmek üzere yükseköğretim kurumlarının her
                        bölüm,
                        anabilim dalı veya anasanat dalı başkanlıkları bünyesinde en az üçer üyeden oluşan birim
                        akademik teşvik
                        başvuru ve inceleme komisyonu kurulur. Birim akademik teşvik başvuru ve inceleme komisyonu
                        başkanlığı,
                        ilgili bölüm, anabilim dalı veya anasanat dalı başkanı tarafından yürütülür. Birim akademik
                        teşvik başvuru
                        ve inceleme komisyonu üyeleri ise ilgili birimin Yönetim Kurulu tarafından, yüksek akademik
                        teşvik puanına
                        sahip olan öğretim elemanları arasından seçilerek oluşturulur. Bölüm, anabilim dalı veya
                        anasanat dalı
                        başkanlıkları bünyesinde yeterli öğretim elemanı bulunmaması halinde, üyeler yakın alanlardaki
                        öğretim
                        elemanları ile tamamlanır. Birim akademik teşvik başvuru ve inceleme komisyonu üyeleri iki yıl
                        için seçilir.
                        Süresi biten üye yeniden seçilebilir. Üyeliğin herhangi bir sebeple boşalması halinde kalan
                        süreyi
                        tamamlamak üzere aynı usulle yeni üye seçilir.
                    </p>
                </li>
                <li>
                    <p>
                        Birim akademik teşvik başvuru ve inceleme komisyonu, başkan dahil üye tamsayısının salt
                        çoğunluğu ile
                        toplanır ve toplantıya katılanların salt çoğunluğu ile karar alır. Oyların eşit olması halinde
                        komisyon
                        başkanının oyu yönünde karar alınmış sayılır. Üyeler çekimser oy kullanamaz.
                    </p>
                </li>
                <li>
                    <p>
                        Birim akademik teşvik başvuru ve inceleme komisyonu, faaliyetlerin bu Yönetmelik hükümlerine
                        uygun olarak
                        değerlendirilmesinden sorumludur ve faaliyetlerin belgelendirilmesinde ve faaliyet türleri
                        içerisinde
                        sınıflandırılmasında oluşan tereddütleri gidermeye yetkilidir.
                    </p>
                </li>
                <li>
                    <p>
                        (Ek:RG-17/1/2020-31011-CK-2043/2 md.) Yeterli öğretim elemanı bulunması durumunda, birim
                        akademik teşvik
                        başvuru ve inceleme komisyonu üyeleri aynı zamanda akademik teşvik düzenleme, denetleme ve
                        itiraz komisyonu
                        üyesi olarak görevlendirilmezler.
                    </p>
                </li>
            </ol>

        </div>

    </div>



    <div class="Madde6">
        <h3 class="text-primary"><b> Akademik teşvik başvuru ve değerlendirme süreci</b></h3>
        <h5><b>Madde 6 -)</b> <span> </span></h5>
        <p class="text-secondary Maddetext">

        </p>
        <div>
            <a onclick="Maddeler('Madde6btn')" id="Madde6btn" class="btn btn-primary mb-5" data-toggle="collapse"
               href="#collapseExample6" role="button" aria-expanded="false" aria-controls="collapseExample6">
                Maddeleri Göster
            </a>
            <ol type="1" class="collapse" id="collapseExample6">
                <li>
                    <p>
                        Öğretim elemanları, akademik teşvik başvurularını yayımlanan başvuru takvimi kapsamında
                        kadrolarının
                        bulunduğu yükseköğretim kurumunun ilgili birim akademik teşvik başvuru ve inceleme komisyonuna
                        YÖKSİS’ten
                        alınan çıktı ile birlikte akademik faaliyetlere ilişkin örnek, kanıt ve belgeleri ilan edilen
                        usule uygun
                        olarak sunar. Birim akademik teşvik başvuru ve inceleme komisyonu, değerlendirmelerin tüm
                        aşamalarında
                        gerekli gördüğü hallerde başvuru sahiplerinden akademik faaliyetlerine ilişkin ek açıklama,
                        bilgi ve
                        belgeler talep edebilir. Başvuru sahipleri, söz konusu talepleri yerine getirmekle yükümlüdür.
                        Öğretim
                        elemanlarınca yapılan başvurular birim akademik teşvik başvuru ve inceleme komisyonu tarafından
                        incelenir.
                    </p>
                </li>
                <li>
                    <p>
                        Yükseköğretim kurumu değişikliği durumunda YÖKSİS çıktısında her bir faaliyetin hangi kurumda
                        gerçekleştirildiği gösterilir ve farklı kurumlarda gerçekleşen akademik faaliyetlerin
                        değerlendirilmesi
                        öğretim elemanının kadrosunun bulunduğu yükseköğretim kurumunda yapılır.
                    </p>
                </li>
                <hr>
            </ol>
            <ol type="1" class="collapse" id="collapseExample6">
                <li>
                    <p>
                        17/1/2020 tarihli ve 31011 sayılı Resmî Gazete’de yayımlanan 2043 sayılı Cumhurbaşkanı Kararının
                        2 nci
                        maddesiyle, bu fıkraya “inceleme komisyonu,” ibaresinden sonra gelmek üzere “faaliyetlerin bu
                        Yönetmelik
                        hükümlerine uygun olarak değerlendirilmesinden sorumludur ve” ibaresi eklenmiştir.
                    </p>
                </li>
                <li>
                    <p>Bu Madde Boş bırakılmış</p>
                </li>
                <li>
                    <p>
                        Başvuru sahipleri, alanları ile ilgili yapmış oldukları faaliyetlerine uygun birim akademik
                        teşvik başvuru
                        ve inceleme komisyonuna başvuru yapmakla yükümlüdür. Birim akademik teşvik başvuru ve inceleme
                        komisyonu
                        öncelikle başvuru sahibinin faaliyetlerinin incelenmeye uygun olup olmadığına karar verir. Uygun
                        görülmeyen
                        başvurular gerekçeli olarak, değerlendirilmek üzere komisyona iletilir.
                    </p>
                </li>
                <li>
                    <p>
                        Birim akademik teşvik başvuru ve inceleme komisyonu başvuruları inceleyerek hazırladığı karar
                        tutanağını,
                        başvurularla ilgili değerlendirme raporunu ve ekinde puan tablosunu imzalı olarak rektörlüğe
                        bağlı
                        bölümlerde bölüm başkanı, fakültelerde dekan, diğer birimlerde ise müdür tarafından onaylanmış
                        olarak
                        komisyona ilan edilen takvime uygun olarak gönderir. Birim akademik teşvik başvuru ve inceleme
                        komisyonu
                        tarafından hazırlanan değerlendirme raporunda reddedilen veya puan değerinde değişiklik yapılan
                        akademik
                        faaliyetlerle ilgili olarak açıklamada bulunulması zorunludur.
                    </p>
                </li>
                <li>
                    <p>
                        Komisyon, birim akademik teşvik başvuru ve inceleme komisyonu tarafından gönderilen başvuruları
                        ve
                        değerlendirme kararlarını inceler. Gerekli gördüğü hallerde başvuru sahiplerinden ek belge ve
                        bilgi talep
                        edebilir ve/veya birimlerden gelen kararlar üzerinde değişiklik yapabilir. Komisyon, hazırladığı
                        karar
                        tutanağını, başvurularla ilgili değerlendirme raporunu ve ekinde puan tablosunu imza altına alır
                        ve nihai
                        kararlarını ilgili araştırmacılara yazılı olarak veya elektronik ortamda duyurur. Komisyon
                        tarafından
                        hazırlanan değerlendirme raporunda reddedilen veya puan değerinde değişiklik yapılan akademik
                        faaliyetlerle
                        ilgili olarak açıklamada bulunulması zorunludur.
                    </p>
                </li>
                <li>
                    <p>
                        Komisyon kararlarına karşı duyuru tarihinden itibaren beş işgünü içinde yazılı olarak itiraz
                        edilebilir.
                        Komisyon itirazları, itiraz süresinin bittiği tarihten itibaren en geç beş işgünü içerisinde
                        karara bağlar.
                        Komisyonun vereceği kararlar kesindir.
                    </p>
                </li>
                <li>
                    <p>
                        Devlet yükseköğretim kurumlarından vakıf yükseköğretim kurumlarında görevlendirilen öğretim
                        elemanlarının
                        görevlendirme süresince vakıf yükseköğretim kurumlarında gerçekleştirdikleri faaliyetler
                        akademik teşvik
                        puanlarının hesaplanmasında dikkate alınmaz. Vakıf yükseköğretim kurumlarından veya başka bir
                        kurumdan
                        Devlet yükseköğretim kurumları kadrolarına geçen öğretim elemanlarının akademik teşvik
                        puanlarının
                        hesaplanmasında sadece Devlet yükseköğretim kurumlarında gerçekleştirdikleri faaliyetler esas
                        alınır.
                    </p>
                </li>
                <li>
                    <p>
                        Görevlendirme nedeniyle kurum dışında bulunan öğretim elemanları, kadrolarının bulunduğu
                        kurumlarda
                        uzmanlıklarına uygun birimlere başvuruda bulunur.
                    </p>
                </li>
                <li>
                    <p>Yabancı uyruklu öğretim elemanları akademik teşvik ödeneğinden yararlanamaz.</p>
                </li>
            </ol>

        </div>

    </div>



    <div class="Madde7">
        <h3 class="text-primary"><b> Akademik teşvik faaliyet alanlarının değerlendirilmesi</b></h3>
        <h5><b>Madde 7 -)</b> <span> </span></h5>
        <p class="text-secondary Maddetext">

        </p>
        <div>
            <a onclick="Maddeler('Madde7btn')" id="Madde7btn" class="btn btn-primary mb-5" data-toggle="collapse"
               href="#collapseExample7" role="button" aria-expanded="false" aria-controls="collapseExample7">
                Maddeleri Göster
            </a>
            <ol type="1" class="collapse" id="collapseExample7">

                <li>
                    <p>
                        Başvuru sahiplerinin sadece kendi alanı ile ilgili yapmış olduğu faaliyetler akademik teşvik
                        kapsamında
                        değerlendirilir.
                    </p>
                </li>
                <li>
                    <p>
                        Proje faaliyetinin değerlendirilmesinde sadece bilim, teknoloji ve sanata katkı sağlayıcı
                        nitelikte
                        yurtiçinde veya yurtdışında başarı ile sonuçlandırılmış ve sonuç raporu onaylanmış projeler
                        değerlendirmeye
                        alınır. Döner sermaye üzerinden yapılan dış kaynaklı (yurtiçi veya yurtdışı) projelerin bu
                        kapsamda
                        değerlendirilebilmesi için projenin Ar-Ge niteliğinin olması ve toplam proje süresinin dokuz
                        aydan az
                        olmaması koşulu aranır. Türkiye Bilimsel ve Teknolojik Araştırma Kurumunun sadece akademik
                        destekleri bu
                        kapsamda değerlendirmeye alınır, ancak sanayi, kamu, girişimcilik, bilimsel etkinlik ve bilim ve
                        toplum
                        destekleri değerlendirmeye alınmaz. Araştırma altyapısı oluşturulması, girişimcilik,
                        araştırmacıların ve
                        öğrencilerin araştırma kültürünün desteklenmesine yönelik projeler, yükseköğretim kurumları
                        tarafından
                        desteklenen bilimsel araştırma projeleri, yerel kalkınma, topluma hizmet, mesleki eğitim, sosyal
                        sorumluluk
                        ve benzeri amaçlar için fon sağlayan Türkiye İş Kurumu, Küçük ve Orta Ölçekli İşletmeleri
                        Geliştirme ve
                        Destekleme İdaresi Başkanlığı, kalkınma ajansları ve benzeri kurumların destekleri, döner
                        sermaye üzerinden
                        yapılan bilirkişilikler ve danışmanlıklar, Avrupa Birliği Katılım Öncesi Mali Yardım projeleri
                        değerlendirmeye alınmaz. Yürütülmüş bir proje için farklı kurum veya kuruluşlarca tamamlayıcı
                        veya
                        destekleyici mahiyette bütçe desteği sağlanmasına yönelik olup temelde aynı projenin parçası
                        veya uzantısı
                        olan çalışmalar için mükerrer puanlama yapılmaz.
                    </p>
                </li>
                <li>
                    <p>
                        Araştırma faaliyetinin değerlendirilmesinde sadece bilim, teknoloji ve sanata katkı sağlayıcı
                        nitelikte,
                        yükseköğretim kurumu yönetim kurulunun izni ile kurum dışında görevlendirme ile yurtiçinde veya
                        yurtdışında
                        başarı ile yürütülmüş ve sonuç raporu ilgili kurumların yetkili mercilerince başarılı bulunarak
                        sonuçlandırılmış araştırmalar değerlendirmeye alınır. Yükseköğretim kurumu yönetim kurulunun
                        izninin
                        başvuruya eklenmesi gerekir. Araştırmalar ay üzerinden değerlendirilir. Eylem planı, fizibilite
                        raporu ve
                        envanter çalışması ile iki aydan az süren araştırmalar değerlendirmeye alınmaz.
                    </p>
                </li>
                <li>
                    <p>
                        (Değişik:RG-17/1/2020-31011-CK-2043/3 md.) Kitapların ISBN, dergilerin ise ISSN numaralarının
                        olması
                        esastır. Kitap yazarlığı, kitap içinde bölüm yazarlığı ve kitap editörlüğü yayıneviyle yapılan
                        sözleşme,
                        yayınevinden ya da editörden gelen davet mektubu gibi evraklarla belgelenmelidir. Kongre,
                        sempozyum,
                        konferans veya benzeri bilimsel etkinlik kitapçıkları ve içeriğinde yayımlanmış bildiriler,
                        yayın
                        kategorisinde değerlendirmeye alınmaz. Sergiler kapsamında hazırlanan küratörlük kitapları, bir
                        kongrede
                        sunulan bildirilerden oluşan kitaplar ve sınavlar için hazırlanmış soru kitapları değerlendirme
                        dışıdır.
                        Kitaplar ile ilgili değerlendirmelerde kitabın yayımlanma yılı esastır. Bu kapsamda daha önce
                        değerlendirilen bir kitap veya kitap bölümünün yeni baskısı değerlendirmeye alınmaz. Dergilerde
                        yayımlanan
                        makalelerin değerlendirilmesinde ilgili derginin basılmış olması veya elektronik ortamda
                        yayımlanması (Cilt,
                        sayfa ve yıl bilgileri ile künyesi açık bir şekilde sunulmalıdır.) esastır. Diğer uluslararası
                        hakemli
                        dergilerin değerlendirme kapsamında olabilmesi için en az beş yıldır yılda en az bir sayı ile
                        yayımlanıyor
                        olması, derginin editör veya yayın kurulunun uluslararası olması, bilimsel değerlendirme süreci
                        ve bu
                        sürecin nasıl işlediğinin derginin internet sayfasında yer alması ve derginin internet sayfası
                        üzerinden
                        yayımlanmış makalelerin künyelerine ulaşılabilmesi gerekir. Dergilerde editörlüğün
                        değerlendirilmesinde,
                        farklı dergilerde de olsa sadece bir editörlük dikkate alınır. Çok editörlü dergilerde sadece
                        baş editör
                        teşvik kapsamında değerlendirilir. Ulusal ve uluslararası boyutta performansa dayalı ses ve/veya
                        görüntü
                        kayıtlarının değerlendirilmesinde yayımlanmış olma koşulu aranır.
                    </p>
                </li>
                <li>
                    <p>
                        Tasarım faaliyetinin değerlendirilmesinde sadece bilim, teknoloji ve sanata katkı sağlayıcı
                        nitelikte,
                        başvuru sahibinin kendi alanı ile ilgili olan ve kamu kurumları veya özel hukuk tüzel
                        kişileriyle yapılan
                        sözleşme uyarınca uygulanmış veya ticarileştirilmiş tasarımlar dikkate alınır.
                    </p>
                </li>
                <li>
                    <p>
                        Sergi faaliyetinin değerlendirilmesinde sanata katkı sağlayıcı nitelikte olanlar dikkate alınır.
                        Serginin
                        uluslararası olarak değerlendirilmesi için serginin uluslararası olduğunun bölüm, anabilim dalı
                        veya
                        anasanat dalı kurullarınca onaylanmış olması gerekir. Tekrarlayan faaliyetler için en çok iki
                        etkinlik
                        dikkate alınır ve ikinci tekrar etkinliğe öncekinin puanının yarısı verilir. Sergi kapsamındaki
                        etkinliklerin değerlendirilmesinde, eğitim-öğretim faaliyetleri ve öğrenci kulüp faaliyetleri
                        kapsamındaki
                        sergiler dikkate alınmaz.
                    </p>
                </li>
                <li>
                    <p>
                        Ulusal incelemesiz patentler değerlendirme kapsamı dışındadır.
                    </p>
                </li>
                <li>
                    <p>
                        Atıfların değerlendirilmesinde, sadece bu Yönetmelik kapsamında değerlendirilen yayınlarda veya
                        eserlerde ve
                        bu Yönetmelik kapsamında değerlendirilen yayınlara veya eserlere yapılan atıflar dikkate alınır,
                        diğerleri
                        kapsam dışıdır. Başvuru sahibinin kendi yayınlarına veya eserlerine yaptığı atıflar kapsam
                        dışıdır. Başvuru
                        sahibinin, sadece Devlet yükseköğretim kurumlarında üretilen yayınlarına veya eserlerine yapılan
                        atıflar
                        geçerlidir, diğerleri kapsam dışıdır. Atıfların değerlendirilmesinde kişi sayısı dikkate
                        alınmaz, her bir
                        başvuru sahibi için ayrı puanlama yapılır. Aynı yayın veya esere bir kitabın ya da makalenin
                        farklı
                        bölümlerinde veya kısımlarında yapılan atıflar yalnızca bir atıf olarak değerlendirilir. Ancak
                        bölüm
                        yazarları farklı olan kitaplarda farklı bölümlerde yapılan her bir atıf için ayrı puan
                        değerlendirmesi
                        yapılır.
                    </p>
                </li>
                <li>
                    <p>
                        (Değişik:RG-17/1/2020-31011-CK-2043/3 md.) Tebliğlerin sunulduğu yurt içinde veya yurt dışındaki
                        etkinliğin
                        uluslararası olarak nitelendirilebilmesi için Türkiye dışında en az beş farklı ülkeden sözlü
                        tebliğ sunan
                        konuşmacının katılım sağlaması ve tebliğlerin yarıdan fazlasının Türkiye dışından katılımcılar
                        tarafından
                        sunulması esastır. Ayrıca etkinliğin uluslararası niteliği haiz olup olmadığı hususunda, ödemeye
                        esas teşkil
                        etmek üzere üniversite yönetim kurulu kararının olması gerekir. Tebliğlerin değerlendirilmesinde
                        tebliğin
                        ilgili etkinlikte sunulmuş ve bunun belgelendirilmiş olması (etkinlik programı ve etkinliğe
                        tebliğde ismi
                        yer alan en az bir araştırmacının katılım sağladığını gösterir belge) esastır. Ayrıca
                        değerlendirme için
                        tebliğin elektronik veya basılı olarak etkinlik tebliğ kitapçığında yer alması ve yayımlanmış
                        tam metninin
                        sunulması gerekir.
                    </p>
                </li>
                <li>
                    <p>
                        Ödüllerin değerlendirilmesinde, ödülün başvuru sahibinin alanı ile ilgili yapmış olduğu
                        çalışmalar için
                        verilmiş olması esastır. Tebliğler için verilen ödüller, dergi hakemlikleri için yayınevleri
                        veya dergiler
                        tarafından verilen ödüller ve başvuru sahibinin üniversitesinden aldığı ödüller değerlendirmeye
                        alınmaz.
                    </p>
                </li>
                <li>
                    <p>
                        Ödüllerin değerlendirilmesinde ödülün alındığı; projelerin ve araştırmaların
                        değerlendirilmesinde projelerin
                        ve araştırmaların sonuçlandığı; tasarımların değerlendirilmesinde tasarımın sonuçlandığı;
                        patentlerin
                        değerlendirilmesinde patentin tescil edildiği ve sergilerin değerlendirilmesinde serginin
                        açıldığı tarih
                        esas alınır.
                    </p>
                </li>


            </ol>
        </div>

    </div>
    <h4 class="text-center"> Madde 8 de Tablo olduğu için En alta koyulmuştur</h4>

    <div class="Madde9">
        <h3 class="text-primary">
            <b> Milli Savunma Üniversitesi, Jandarma ve Sahil Güvenlik Akademisi ve Polis Akademisi</b>
        </h3>
        <h5><b>Madde 9 -)</b> <span> </span></h5>
        <p class="text-secondary Maddetext">
            Milli Savunma Üniversitesi, Jandarma ve Sahil Güvenlik Akademisi ve Polis Akademisi kadrolarında görev yapan
            öğretim elemanları için 4 üncü, 5 inci ve 6 ncı maddelerde yer alan hususlar, ilgisine göre rektör veya
            akademi
            başkanları tarafından belirlenir.
        </p>


    </div>



    <div class="Madde10">
        <h3 class="text-primary">
            <b>Diğer hükümler</b>
        </h3>
        <h5><b>Madde 10 -)</b> <span> </span></h5>
        <p class="text-secondary Maddetext">
        </p>
        <div>
            <a onclick="Maddeler('Madde10btn')" id="Madde10btn" class="btn btn-primary mb-5" data-toggle="collapse"
               href="#collapseExample10" role="button" aria-expanded="false" aria-controls="collapseExample10">
                Maddeleri Göster
            </a>
            <ol type="1" class="collapse" id="collapseExample10">

                <li>
                    <p>
                        Bu Yönetmelikte belirlenen faaliyet alanları dışında başvuru yapılamaz.
                    </p>
                </li>

                <li>
                    <p>
                        Akademik teşvik ödeneği
                    </p>
                    <ol type="A">
                        <li>
                            ) <i>
                                Öğretim elemanlarına 2914 sayılı Kanun ve 27/7/1967 tarihli ve 926 sayılı Türk Silahlı
                                Kuvvetleri
                                Personel Kanunu uyarınca aylık ödendiği sürece yapılır.
                            </i>
                        </li>
                        <li>
                            ) <i>
                                Her bir takvim yılı için bir önceki yılda gerçekleştirilen faaliyetler esas alınmak
                                suretiyle
                                hesaplanan akademik teşvik puanı üzerinden Şubat ayının onbeşinden itibaren oniki ay
                                süreyle her ayın
                                onbeşinde ödenir.
                            </i>
                        </li>
                        Damga vergisi hariç herhangi bir vergiye tabi tutulmaz ve ilgili mevzuatı uyarınca ödenmekte
                        olan zam,
                        tazminat, ödenek, döner sermaye ek ödemesi, ikramiye, ücret ve her ne ad altında olursa olsun
                        yapılan
                        benzeri ödemelerin hesabında dikkate alınmaz.
                        <li>
                            ) <i>
                            </i>
                        </li>
                    </ol>
                </li>

                <li>
                    <p>
                        Akademik teşvik ödeneğinin ödenebilmesi için akademik teşvik puanının en az otuz olması gerekir.
                    </p>
                </li>

                <li>
                    <p>
                        Akademik teşvik ödemeleri sürerken kurum değiştirenlerin ödemeleri yeni yükseköğretim
                        kurumlarınca yapılır.
                    </p>
                </li>

                <li>
                    <p>
                        Ödeme yapıldıktan sonra gerçeğe aykırı veya bu Yönetmelik kapsamına girmediği anlaşılan
                        faaliyetler için
                        başvuruda bulunduğu tespit edilenlere yapılan ödemeler kanuni faiziyle birlikte geri alınır.
                        Gerçeğe aykırı,
                        yanlış veya yanıltıcı bildirimde bulunanlar hakkında komisyonun tespit ve bildirimi ile inceleme
                        başlatılır.
                        İnceleme sonucuna göre cezai müeyyidelerin uygulanmasının gerekmesi halinde genel hükümler
                        uygulanır.
                    </p>
                </li>

            </ol>
        </div>

    </div>



    <div class="Madde11">
        <h3 class="text-primary">
            <b> Yürürlükten kaldırılan mevzuat</b>
        </h3>
        <h5><b>Madde 11 -)</b> <span> </span></h5>
        <p class="text-secondary Maddetext">
            27/12/2016 tarihli ve 2016/9714 sayılı Bakanlar Kurulu Kararı ile yürürlüğe konulan Akademik Teşvik Ödeneği
            Yönetmeliği yürürlükten kaldırılmıştır.
        </p>
    </div>


    <div class="Madde12">
        <h3 class="text-primary">
            <b>Yürürlük</b>
        </h3>
        <h5><b>Madde 12 -)</b> <span> </span></h5>
        <p class="text-secondary Maddetext">
            Sayıştayın görüşü alınarak hazırlanan bu Yönetmelik yayımı tarihinde yürürlüğe girer.
        </p>
    </div>


    <div class="Madde13">
        <h3 class="text-primary">
            <b>Yürütme</b>
        </h3>
        <h5><b>Madde 13 -)</b> <span> </span></h5>
        <p class="text-secondary Maddetext">
            Bu Yönetmelik hükümlerini Cumhurbaşkanı yürütür.
        </p>

        <br>
        <i>
            17/1/2020 tarihli ve 31011 sayılı Resmî Gazete’de yayımlanan 2043 sayılı Cumhurbaşkanı Kararının 6 ncı
            maddesiyle, bu fıkrada yer alan “Bakanlar Kurulu” ibaresi “Cumhurbaşkanı” şeklinde değiştirilmiştir.
        </i>
    </div>










    <div class="Madde8">
        <h3 class="text-primary">
            <b>Akademik teşvik ödeneğinin hesaplanması</b>
        </h3>
        <h5><b>Madde 8 -)</b> <span> </span></h5>
        <p class="text-secondary Maddetext">
        </p>
        <div>

            <ol type="1">

                <li>
                    <p style="color: red;">
                        Akademik teşvik ödemesi, en yüksek Devlet memuru brüt aylık tutarının; profesör kadrosunda
                        bulunanlar için
                        %100’üne, doçent kadrosunda bulunanlar için %90’ına, doktor öğretim üyesi kadrosunda bulunanlar
                        için
                        %80’ine, araştırma görevlisi ve öğretim görevlisi kadrolarında bulunanlar için %70’ine, akademik
                        teşvik
                        puanının yüze bölünmesiyle bulunacak oranın uygulanması suretiyle hesaplanır [Akademik teşvik
                        ödemesi tutarı
                        = en yüksek Devlet memuru brüt aylığı x akademik kadro unvanlarına göre belirlenmiş olan oran x
                        (akademik
                        teşvik puanı/100)].
                    </p>
                </li>
                <li>
                    <p>
                        Akademik teşvik puanı, bu Yönetmeliğin ekinde yer alan Faaliyet Hesaplama Tablosu esas alınarak
                        aşağıdaki
                        şekilde hesaplanır
                    </p>
                    <ol type="A">

                        <li>
                            <i>
                                Öncelikle her bir akademik faaliyet türünün puanı hesaplanır. Bu hesaplama, öğretim
                                elemanının her bir
                                faaliyet türü için tanımlanan faaliyetlerden dolayı almış olduğu oranların toplamı ile
                                her bir akademik
                                faaliyet türü için belirlenmiş olan puanın çarpılması sonucu elde edilir [Akademik
                                faaliyet türü puanı =
                                faaliyet oranları toplamı x akademik faaliyet türü için belirlenmiş olan puan].
                            </i>
                        </li>
                        <li>
                            <i>
                                Her bir akademik faaliyet türünden elde edilen puanların toplanmasıyla akademik teşvik
                                ödemesine esas
                                akademik teşvik puanı hesaplanır.
                            </i>
                        </li>
                    </ol>
                </li>

                <li>
                    <p>
                        Öğretim elemanının her bir faaliyet türünden topladığı faaliyet puanı akademik faaliyet türü
                        için
                        belirlenmiş olan puanı, akademik teşvik puanı (toplam faaliyet puanı) ise yüz puanı geçemez.
                    </p>
                </li>
                <li>
                    <p>
                        Çok isimli yayın (makale, derleme, kitap veya kitap bölümü), tebliğ ve patent için oranlar
                        belirlenirken
                        faaliyetteki kişi sayısına göre farklı değerler alan aşağıdaki tablodaki (k) katsayısı esas
                        alınır (Tablo
                        1).
                    </p>
                </li>

            </ol>
        </div>

        <table id="customers">
            <tr>
                <th colspan="2" class="text-center">Tablo 1: (k) Katsayısı Değeri</th>
            </tr>
            <tr>
                <th>Kişi Sayısı</th>
                <th>K</th>
            </tr>

            <tr>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>2</td>
                <td>0.8</td>
            </tr>
            <tr>
                <td>3</td>
                <td>0.6</td>
            </tr>
            <tr>
                <td>4</td>
                <td>0.45</td>
            </tr>
            <tr>
                <td>5</td>
                <td>1 / 5</td>
            </tr>
            <tr>
                <td>6</td>
                <td>1 / 6</td>
            </tr>
            <tr>
                <td>7 veya daha fazla</td>
                <td>1 / Kişi Sayısı</td>
            </tr>
        </table>
        <br>
        <p>
            <b> 5 </b> . Akademik teşvik kapsamında değerlendirilebilecek projeler için başvuru sahibinin projedeki
            rolü aşağıdaki tabloda yer alan (r) katsayısı esas alınarak belirlenir (Tablo 2).
        </p>

        <table id="customers">
            <tr>
                <th colspan="2" class="text-center">Tablo 2: (r) Katsayısı Değeri</th>
            </tr>
            <tr>
                <th>Projedeki rol</th>
                <th>r</th>
            </tr>

            <tr>
                <td>Yürütücü</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Araştırmacı , Bursiyer</td>
                <td>0.5</td>
            </tr>

        </table>


        <p>
            <b> 6 </b> . (Değişik:RG-17/1/2020-31011-CK-2043/4 md.) SCI, SCI-Expanded, SSCI ve AHCI kapsamındaki
            dergilerde yayımlanmış araştırma makalesi, derleme makale (müstakil yayımlanmış olma şartıyla editöre
            mektup, yorum, vaka takdimi, teknik not, araştırma notu ve kitap eleştirisi) için akademik teşvik puanının
            hesaplanmasında makalenin yayımlandığı yıl için derginin ISI Web of Science tarafından en son yayımlanan
            Çeyreklik (Quartile) sınıflamasını esas alan ve aşağıdaki tabloda yer alan (p) katsayısı kullanılır. Ancak
            en son çeyreklik listesinden sonra kapsama alınan dergilerin ilgili Q değeri kabul edilir, Q değeri
            belirlenmemiş dergiler için en alt katsayı değeri uygulanır. AHCI kapsamındaki dergiler için katsayı değeri
            0,5 olarak uygulanır. (Tablo 3).
        </p>

        <table id="customers">
            <tr>
                <th colspan="2" class="text-center">Tablo 3: (p) Katsayısı Değeri</th>
            </tr>
            <tr>
                <th>Dergi ISI Web of Science Çeyreklik Grubu</th>
                <th>Dergi ISI Web of Science Çeyreklik Grubu</th>
            </tr>

            <tr>
                <td>Q1</td>
                <td>1</td>
            </tr>

            <tr>
                <td>Q2</td>
                <td>0.8</td>
            </tr>

            <tr>
                <td>Q3</td>
                <td>0.5</td>
            </tr>

            <tr>
                <td>Q4</td>
                <td>0.25</td>
            </tr>


        </table>
        <br />
        <p>
            <b> 7 </b> . Özel bir paylaşım oranı olmayan veya isim sıralaması veya derecelendirmesi bulunmayan
            faaliyetler için “oran/kişi sayısı” oranı dikkate alınır. Ancak, sergi faaliyet türündeki karma etkinlikler
            ve uluslararası boyutta performansa dayalı yayımlanmış karma ses ve/veya görüntü kaydı kişi sayısına
            bakılmaksızın tam puanla değerlendirilir.
        </p>



        <p>
            <b> 8 </b> . Puanların ve ödemelerin hesaplanmasında öğretim elemanının teşvik başvurusu yaptığı tarihteki
            kadro unvanı esas alınır.

    </div>



    <table id="customers">
        <tr>
            <th colspan="4" class="text-center display-6">Alanlar</th>
        </tr>
        <tr>
            <th>A1 Alanları:</th>
            <th>A2 Alanları:</th>
            <th>A3 Alanları:</th>
            <th>A4 Alanları:</th>
        </tr>

        <tr>
            <td>
                <ul>
                    <li>Eğitim Bilimleri</li>
                    <li> Fen Bilimleri</li>
                    <li>Matematik Bilimleri</li>
                    <li>Mühendislik</li>
                    <li>Sağlık Bilimleri</li>
                    <li>Ziraat Bilimleri</li>
                    <li>Orman ve Su Ürünleri Bilimleri</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Filoloji Bilimleri</li>
                    <li>Hukuk Bilimleri</li>
                    <li>İlahiyat Bilimleri</li>
                    <li>Sosyal Bilimleri</li>
                    <li>Beşeri ve İdari Bilimler</li>
                    <li> Spor Bilimleri</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Mimarlık Bilimleri</li>
                    <li>
                        Planlama ve Tasarım Bilimleri
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Güzel Sanat Bilimleri</li>
                </ul>
            </td>
        </tr>

    </table>

    <br> <br> <br> <br> <br>
    <table id="customers">
        <tr>
            <th colspan="7" class="text-center">
                Tablo 4
                Faaliyet Hesaplama Tablosu
            </th>
        <tr>
            <th colspan="3" class="text-center">Bilgiler</th>
            <th colspan="4" class="text-center">% Yüzedesel Oranlar </th>

        </tr>
        <tr>
            <th>SIRA NO</th>
            <th> AKADEMİK FAALİYET TÜRÜ </th>
            <th>FAALİYET</th>
            <th>A1 Alanları</th>
            <th>A2 Alanları</th>
            <th>A3 Alanları</th>
            <th>A4 Alanları</th>
        </tr>

        <tr>
            <td rowspan="5" class="display-5">1</td>
            <td rowspan="5" class="tdfaliyet text-center">
                <b>Proje</b>
                <p>(20 puan)</p>
            </td>
            <td>
                TÜBİTAK 1001, 1003, 1004, 1007, 1505, 2244, 3501, SAYEM, COST, Uluslararası İkili İşbirliği Programları
            </td>
            <td>r x 80</td>
            <td>r x 80</td>
            <td>r x 80</td>
            <td>r x 80</td>
        </tr>
        <tr>
            <td>TÜBİTAK 1005, 3001</td>
            <td>r x 70</td>
            <td>r x 70</td>
            <td>r x 70</td>
            <td>r x 70</td>
        </tr>
        <tr>
            <td>H2020 projesi</td>
            <td>r x 100</td>
            <td>r x 100</td>
            <td>r x 100</td>
            <td>r x 100</td>
        </tr>
        <tr>
            <td>
                Diğer uluslararası özel veya resmi kurum ve kuruluşlar tarafından desteklenmiş ve destek süresi dokuz
                aydan az olmayan Ar-Ge niteliğini haiz proje
            </td>
            <td>r x 40</td>
            <td>r x 40</td>
            <td>r x 40</td>
            <td>r x 40</td>
        </tr>
        <tr>
            <td>
                Diğer ulusal kamu veya özel kurum ve kuruluşlar tarafından desteklenmiş ve destek süresi dokuz aydan az
                olmayan Ar-Ge niteliğini haiz proje
            </td>
            <td>r x 20</td>
            <td>r x 20</td>
            <td>r x 20</td>
            <td>r x 20</td>
        </tr>



        <tr>
            <td rowspan="2" class="display-5">2</td>
            <td rowspan="2" class="tdfaliyet text-center">
                <p><b>ARAŞTIRMA</b></p>
                <p>(15 puan)</p>
            </td>
            <td>Yurt dışı araştırma</td>
            <td>15 x ay (araştırma süresi)</td>
            <td>15 x ay (araştırma süresi)</td>
            <td>15 x ay (araştırma süresi)</td>
            <td>15 x ay (araştırma süresi)</td>
        </tr>
        <tr>
            <td>Yurt içi araştırma</td>
            <td>10 x ay (araştırma süresi)</td>
            <td>10 x ay (araştırma süresi)</td>
            <td>10 x ay (araştırma süresi)</td>
            <td>10 x ay (araştırma süresi)</td>
        </tr>
        <!--- Madde 3 ------>

        <tr>
            <td rowspan="17" class="display-5">3</td>
            <td rowspan="17" class="tdfaliyet text-center">
                <p><b>YAYIN</b></p>
                <p>(30 puan)</p>
            </td>
            <td>SCI, SCI-Expanded, SSCI ve AHCI kapsamındaki dergilerde yayımlanmış araştırma makalesi</td>
            <td>k x p x 60</td>
            <td>k x p x 60</td>
            <td>k x p x 60</td>
            <td>k x p x 80</td>
        </tr>
        <tr>
            <td>
                SCI, SCI-Expanded, SSCI ve AHCI kapsamındaki dergilerde yayımlanmış derleme makale, (müstakil
                yayımlanmış olma şartıyla editöre mektup, yorum vaka takdimi, teknik not, araştırma notu ve kitap
                eleştirisi)
            </td>
            <td>k x p x 30</td>
            <td>k x p x 40</td>
            <td>k x p x 30</td>
            <td>k x p x 40</td>
        </tr>
        <tr>
            <td>
                Alan endeksleri (ÜAK tarafından tanımlanan alanlar için) kapsamındaki dergilerde yayımlanmış araştırma
                makalesi
            </td>
            <td>k x 20</td>
            <td>k x 25</td>
            <td>k x 20</td>
            <td>k x 25</td>
        </tr>
        <tr>
            <td>Diğer uluslararası hakemli dergilerde yayımlanmış araştırma makalesi</td>
            <td>k x 15</td>
            <td>k x 20</td>
            <td>k x 15</td>
            <td>k x 20</td>
        </tr>
        <tr>
            <td>ULAKBİM TR Dizin tarafından taranan ulusal hakemli dergilerde yayımlanmış araştırma makalesi</td>
            <td>k x 15</td>
            <td>k x 20</td>
            <td>k x 15</td>
            <td>k x 20</td>
        </tr>
        <tr>
            <td>SCI, SCI-Expanded, SSCI ve AHCI kapsamındaki dergilerde editörlük</td>
            <td> 25</td>
            <td> 25</td>
            <td> 25</td>
            <td> 25</td>
        </tr>
        <tr>
            <td>Alan endeksleri (ÜAK tarafından tanımlanan alanlar için) kapsamındaki dergilerde editörlük</td>
            <td>15</td>
            <td>15</td>
            <td>15</td>
            <td>15</td>
        </tr>
        <tr>
            <td>Diğer uluslararası hakemli dergilerde editörlük</td>
            <td>10</td>
            <td>10</td>
            <td>10</td>
            <td>10</td>
        </tr>
        <tr>
            <td>ULAKBİM TR Dizin tarafından taranan ulusal hakemli dergilerde editörlük</td>
            <td>10</td>
            <td>10</td>
            <td>10</td>
            <td>10</td>
        </tr>
        <tr>
            <td>Tanınmış uluslararası yayınevleri tarafından yayımlanmış özgün bilimsel kitap</td>
            <td>k x 100</td>
            <td>k x 100</td>
            <td>k x 100</td>
            <td>k x 100</td>
        </tr>
        <tr>
            <td>Tanınmış uluslararası yayınevleri tarafından yayımlanmış özgün bilimsel kitap editörlüğü</td>
            <td>k x 60</td>
            <td>k x 60</td>
            <td>k x 60</td>
            <td>k x 60</td>
        </tr>
        <tr>
            <td>
                Tanınmış uluslararası yayınevleri tarafından yayımlanmış özgün bilimsel kitaplarda bölüm yazarlığı (Aynı
                kitapta en çok iki bölüm değerlendirmeye alınır.)
            </td>
            <td>k x 25</td>
            <td>k x 25</td>
            <td>k x 25</td>
            <td>k x 25</td>
        </tr>
        <tr>
            <td>
                (Danıştay Sekizinci Dairesinin 21/12/2021 tarihli ve E.:2021/6094 sayılı kararı ile yürütmesi durdurulan
                ibare; Tanınmış ulusal yayınevleri tarafından yayımlanmış) özgün bilimsel kitap
            </td>
            <td>k x 50</td>
            <td>k x 50</td>
            <td>k x 50</td>
            <td>k x 50</td>
        </tr>
        <tr>
            <td>
                (Danıştay Sekizinci Dairesinin 21/12/2021 tarihli ve E.:2021/6094 sayılı kararı ile yürütmesi durdurulan
                ibare; Tanınmış ulusal yayınevleri tarafından yayımlanmış) özgün bilimsel kitaplarda bölüm yazarlığı
                (Aynı kitapta en çok iki bölüm değerlendirmeye alınır.)
            </td>
            <td>k x 15</td>
            <td>k x 15</td>
            <td>k x 15</td>
            <td>k x 15</td>
        </tr>
        <tr>
            <td>Uluslararası boyutta performansa dayalı yayımlanmış kişisel ses ve/veya görüntü kaydı</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>20</td>
        </tr>
        <tr>
            <td>Uluslararası boyutta performansa dayalı yayımlanmış karma ses ve/veya görüntü kaydı</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>10</td>
        </tr>
        <tr>
            <td>Ulusal boyutta performansa dayalı yayımlanmış kişisel ses ve/veya görüntü kaydı</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>10</td>
        </tr>
        <!--- Madde 4 ------>

        <tr>
            <td rowspan="1" class="display-5">4</td>
            <td rowspan="1" class="tdfaliyet text-center">
                <p><b>TASARIM</b></p>
                <p>(15 puan)</p>
            </td>
            <td>
                Endüstriyel, çevresel (bina, peyzaj ve iç mekan) veya grafiksel tasarım; sahne, moda (kumaş, aksesuar
                veya giysi tasarımı) veya çalgı tasarımı
            </td>
            <td>15</td>
            <td>15</td>
            <td>15</td>
            <td>15</td>
        </tr>

        <!--- Madde 5 ------>

        <tr>
            <td rowspan="4" class="display-5">5</td>
            <td rowspan="4" class="tdfaliyet text-center">
                <p><b>SERGİ</b></p>
                <p>(15 puan)</p>
            </td>
            <td>Özgün yurt dışı bireysel etkinlik (sergi, bienal, trienal, gösteri, dinleti, festival ve gösterim)</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>30</td>
        </tr>
        <tr>
            <td>Özgün yurt içi bireysel etkinlik (sergi, bienal, trienal, gösteri, dinleti, festival ve gösterim)</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>15</td>
        </tr>
        <tr>
            <td>
                Özgün yurt dışı grup/karma/toplu etkinlik (sergi, bienal, trienal, gösteri, dinleti, festival ve
                gösterim)
            </td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>15</td>
        </tr>
        <tr>
            <td>
                Özgün yurt içi grup/karma/toplu etkinlik (sergi, bienal, trienal, gösteri, dinleti, festival ve
                gösterim)
            </td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>8</td>
        </tr>



        <!--- Madde 6 ------>

        <tr>
            <td rowspan="2" class="display-5">6</td>
            <td rowspan="2" class="tdfaliyet text-center">
                <p><b>PATENT</b></p>
                <p>(30 puan)</p>
            </td>
            <td>Uluslararası patent</td>
            <td>k x 100</td>
            <td>k x 100</td>
            <td>k x 100</td>
            <td>k x 100</td>
        </tr>

        <tr>
            <td>Ulusal patent</td>
            <td>k x 60</td>
            <td>k x 60</td>
            <td>k x 60</td>
            <td>k x 60</td>
        </tr>




        <!--- Madde 7 ------>

        <tr>
            <td rowspan="8" class="display-5">7</td>
            <td rowspan="8" class="tdfaliyet text-center">
                <p><b>ATIF</b></p>
                <p>(30 puan)</p>
            </td>
            <td> SCI, SCI-Expanded, SSCI ve AHCI kapsamındaki dergilerde yayımlanmış makalelerde atıf</td>
            <td>4</td>
            <td>6</td>
            <td>4</td>
            <td>6</td>
        </tr>
        <tr>
            <td> Alan endeksleri (varsa) ve kapsamındaki dergilerde yayımlanmış makalelerde atıf</td>
            <td>1.5</td>
            <td>3</td>
            <td>1.5</td>
            <td>3</td>
        </tr>
        <tr>
            <td> Diğer uluslararası hakemli dergilerde yayımlanmış makalelerde atıf</td>
            <td>1</td>
            <td>2</td>
            <td>1</td>
            <td>2</td>
        </tr>
        <tr>
            <td> ULAKBİM tarafından taranan ulusal hakemli dergilerde yayımlanmış makalelerde atıf</td>
            <td>1</td>
            <td>2</td>
            <td>1</td>
            <td>2</td>
        </tr>
        <tr>
            <td>Tanınmış uluslararası yayınevleri tarafından yayımlanmış özgün bilimsel kitapta atıf </td>
            <td>4</td>
            <td>8</td>
            <td>4</td>
            <td>8</td>
        </tr>
        <tr>
            <td>
                (Danıştay Sekizinci Dairesinin 21/12/2021 tarihli ve E.:2021/6094 sayılı kararı ile yürütmesi durdurulan
                ibare; Tanınmış ulusal yayınevleri tarafından yayımlanmış) özgün bilimsel kitapta atıf
            </td>
            <td>2</td>
            <td>4</td>
            <td>2</td>
            <td>4</td>
        </tr>
        <tr>
            <td>
                Güzel sanatlardaki eserlerin uluslararası kaynak veya yayın organlarında yer alması veya gösterime ya da
                dinletime girmesi
            </td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>8</td>
        </tr>
        <tr>
            <td>
                Güzel sanatlardaki eserlerin ulusal kaynak veya yayın organlarında yer alması veya gösterime ya da
                dinletime girmesi
            </td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>4</td>
        </tr>
        <!--- Madde 8 ------>

        <tr>
            <td rowspan="1" class="display-5">8</td>
            <td rowspan="1" class="tdfaliyet text-center">
                <p><b>TEBLİĞ</b></p>
                <p>(20 puan)</p>
            </td>
            <td>
                EHakemli uluslararası bilimsel konferansta, sempozyumda veya kongrede sözlü olarak sunulan ve bunların
                kitabında yayımlanan tam bildiri
            </td>
            <td>k x 15</td>
            <td>k x 15</td>
            <td>k x 15</td>
            <td>k x 15</td>
        </tr>

        <!--- Madde 9 ------>

        <tr>
            <td rowspan="8" class="display-5">9</td>
            <td rowspan="3" class="tdfaliyet text-center">
                <p><b>ÖDÜL</b></p>
                <p>(20 puan)</p>
            </td>

            <td>YÖK Yılın Doktora Tezi Ödülü</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>

        </tr>
        <tr>

            <td>TÜBİTAK Bilim Ödülü</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
        </tr>
        <tr>

            <td>TÜBA Akademi Ödülü</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>

        </tr>
        <tr>
            <td rowspan="5" class="tdfaliyet text-center">
                <p>
                    <b>
                        (Çalışma/proje/ yayın teşvik/ teşekkür-başarı belgesi ve plaketi/burs/onur belgesi/hizmet belgesi
                        hariç)
                    </b>
                </p>
            </td>
            <td>
                Yurt dışı kurum veya kuruluşlardan alınan bilim ödülü (sürekli olarak verilen, daha önce en az beş kez
                verilmiş, ilgili kurum veya kuruluşun internet sayfasından duyurulan ve akademik ağırlıklı bir
                değerlendirme jürisi veya seçici kurulu olan) (Aynı çalışma veya eser nedeniyle alınan farklı ödüller
                için en fazla bir defa puanlama yapılır.)
            </td>
            <td>40</td>
            <td>40</td>
            <td>40</td>
            <td>40</td>
        </tr>

        <tr>
            <td>
                Yurt içi kurum veya kuruluşlardan alınan bilim ödülü (sürekli olarak verilen, daha önce en az beş kez
                verilmiş, ilgili kurum veya kuruluşun internet sayfasından duyurulan ve akademik ağırlıklı bir
                değerlendirme jürisi veya seçici kurulu olan) (Aynı çalışma veya eser nedeniyle alınan farklı ödüller
                için en fazla bir defa puanlama yapılır.)
            </td>
            <td>20</td>
            <td>20</td>
            <td>20</td>
            <td>20</td>
        </tr>

        <tr>
            <td>Uluslararası jürili sürekli düzenlenen (sürekli olarak verilen, daha önce en az beş kez verilmiş, ilgili kurum veya kuruluşun internet sayfasından duyurulan ve seçici kurulu olan) güzel sanat etkinliklerinde veya yarışmalarında eserlere verilen uluslararası derece ödülü (mansiyon hariç) (Aynı çalışma veya eser nedeniyle alınan farklı ödüller için en fazla bir defa puanlama yapılır.)</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>40</td>
        </tr>

        <tr>
            <td>Ulusal jürili sürekli düzenlenen (sürekli olarak verilen, daha önce en az beş kez verilmiş, ilgili kurum veya kuruluşun internet sayfasından duyurulan ve seçici kurulu olan) güzel sanat etkinliklerinde veya yarışmalarında eserlere verilen ulusal derece ödülü (mansiyon hariç) (Aynı çalışma veya eser nedeniyle alınan farklı ödüller için en fazla bir defa puanlama yapılır.)</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>20</td>
        </tr>
        <tr>
            <td>Mevzuatı çerçevesinde, ilgili kuruluşlar (bakanlıklar, yerel yönetimler, meslek odaları, uluslararası kuruluşlar) tarafından sürekli düzenlenen (sürekli olarak verilen, daha önce en az beş kez verilmiş, ilgili kurum veya kuruluşun internet sayfasından duyurulan ve seçici kurulu olan), planlama, mimarlık, kentsel tasarım, peyzaj tasarımı, iç mimari tasarım, endüstri ürünleri tasarımı ve mimarlık temel alanındaki diğer yarışmalarda derece ödülü (mansiyon hariç) (Aynı çalışma veya eser nedeniyle alınan farklı ödüller için en fazla bir defa puanlama yapılır.)</td>
            <td>-</td>
            <td>-</td>
            <td>20</td>
            <td>-</td>
        </tr>


    </table>








</section>

<script>
    const Maddeler = (Btnid) => {
        let button = document.getElementById(Btnid);
        let b = button.innerHTML.includes("Göster");
        if (b) {
            button.innerHTML = "Maddeleri Gizle";
            button.classList.remove("btn-primary");
            button.classList.add("btn-success");
        }
        else {
            button.innerHTML = "Maddeleri Göster";
            button.classList.remove("btn-success");
            button.classList.add("btn-primary");

        }
    }
    const MyActive = () => {
        let link = document.querySelector('#science');
        link.classList.add("active");
    }
    MyActive();
</script>