  @section Alt_Menu{

<h1 class="col-md-12 text-white display-3 text-center" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
     Tesvik Hesaplama 
</h1>
<h2 class="col-md-12 text-white display-6 text-center" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
     Maddelerin
</h2>
<div class="">
    <h4 class="Calculation_information">
        Bu sayfa Tasarım Aşamasında Tasarımın hızlandırmasını istiyorsanız iletişim kısmından bize bildiriniz
    </h4>
    <br>
    <h5 class="Calculation_information2 col-md-8">
    </h5>
</div>
  }


<script>
       const MyActive = () => {
        let link = document.querySelector('#science');
        link.classList.add("active");
      }
    MyActive();
</script>