  @section Alt_Menu{

<h1 class="col-md-12 text-white display-3 text-center" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
     Tesvik Hesaplama 
</h1>
<h2 class="col-md-12 text-white display-6 text-center" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
     Maddelerin
</h2>
<div class="">
    <h4 class="Calculation_information">
        Bu sayfa Tasarım Aşamasında Tasarımın hızlandırmasını istiyorsanız iletişim kısmından bize bildiriniz
    </h4>
    <br>
    <h5 class="Calculation_information2 col-md-8">
    </h5>
</div>
  }
  <head>
    <link href="~/css/tesvikmadde.css" rel="stylesheet">

  </head>

<section class="container " style="margin-bottom: 200px;">

<h2 class="text-center display-5 text-primary mb-5"> AKADEMİK TEŞVİK ÖDENEĞİ YÖNETMELİĞİ</h2>
<div class="Madde1">
  <h3 class="text-primary"><b>Amaç ve kapsam</b></h3>
  <h5><b>Madde 1 -)</b> <span>Bu Yönetmeliğin amacı</span></h5>
  <p class="text-secondary Maddetext" >
   Yükseköğretim kurumları kadrolarında bulunan öğretim elemanlarına yapılacak  
  akademik teşvik ödeneğinin uygulanmasına yönelik olarak, bilim alanlarının özellikleri ve 
  öğretim elemanlarının unvanlarına göre akademik teşvik puanlarının hesaplanmasında esas alınacak 
  faaliyetlerin  özellikleri ve puan karşılıkları, akademik teşvik toplam puanının %30’unu geçmemek
  üzere her bir akademik faaliyet türünün toplam puanın hesaplanmasındaki ağırlıkları, akademik teşvik puanının hesaplanmasına 
  ve bu hesaplamaları yapacak komisyonun oluşumu ile diğer hususları belirlemektir.
  </p>
</div>
<div class="Madde2">
  <h3 class="text-primary"><b>  Dayanak</b></h3>
  <h5><b>Madde 2 -)</b> <span>Bu Yönetmelik</span></h5>
  <p class="text-secondary Maddetext" >
  11/10/1983 tarihli ve 2914 sayılı Yükseköğretim Personel Kanununun ek 4 üncü maddesine dayanılarak hazırlanmıştır.
  </p>
</div>





</section>

<script>
       const MyActive = () => {
        let link = document.querySelector('#science');
        link.classList.add("active");
      }
    MyActive();
</script>