 @section head{
<title>Teşvik Hesaplama</title>
<meta name="keywords" content="teşvik hesaplama,akademik teşvik hesaplama, akademik teşvik ödeneği, ">
<meta name="author" content="Akademik Teşvik">
<meta name="description"
      content="Akademik Hesaplamalar ,Akademik Teşvik hesaplama  , teşvik hesaplama işlemleri" />
}
 @section Alt_Menu{

<h1 class="col-md-12 text-white display-6 text-center" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
    Akademik Tesvik Hesaplama
</h1>

<div class="">
    <h4 class="Calculation_information">
        Bu sayfa Tasarım Aşamasında Tasarımın hızlandırmasını istiyorsanız iletişim kısmından bize bildiriniz
    </h4>
    <br>
    <div class="col-lg-6 text-center text-lg-start">
        <p class="text-white pb-3 animated zoomIn">
            Bu site
            <a style="color: yellow;"
               href=" https://www.mevzuat.gov.tr/anasayfa/MevzuatFihristDetayIframe?MevzuatTur=21&MevzuatNo=201811834&MevzuatTertip=5"
               target="_blank">www.mevzuat.gov.tr</a> sitesi baz alarak 2022 yılında hazırlanmıştır
        </p>
        <a asp-action="Index" asp-controller="Tesvik"
           class="btn btn-outline-light py-sm-3 px-sm-5 rounded-pill animated slideInRight">
            Maddeleri incele   >>
        </a>
    </div>
</div>
  }


<script>
       const MyActive = () => {
        let link = document.querySelector('#science');
        link.classList.add("active");
      }
    MyActive();
</script>