@{
    ViewData["Title"] = "AccessDenied";
    Layout=null;
}



<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet">
   
    
          <meta name="google-site-verification" content="ckjlSqzZm67ccwALqxgHgMBzCSLfgLObgs2skCOuGOM" />
</head>

<body>
    <div class="container" style="margin-top: 100px;">

<h1 class="text-center">Erişim Reddedildi </h1>
<h5 class="text-center">Bu sayfaya erişim izniniz yok Yetki için Lütfen Adminle iletişim sayfasından iletişime geçiniz</h5>
<br>
<center>
<button class="btn btn-primary" onclick="history.back()">Geldiğiniz Sayfaya Dönmek için tıklayınız</button>
</center>

</div>

   
</body>

</html>
