
<head>
      @section head{
    <title>Doçentlik Puan Hesaplama</title>
    <meta name="keywords" content="Doçentlik Puan Hesaplama,Doçentlik Hesaplama">
    <meta name="author" content="Hakan Baran Çakır">
    <meta name="description" content="doçentlik puan hesaplama" />
    }

</head>

<div style="margin-bottom:200px;">

<h1 class="text-center display-2">Doçentlik Puan Hesaplama </h1>
<h4 class="text-center"> Opps. Bir Hata oluştu lütfen Gitmek istediğiniz Sayfayı Aşağıdaki Listeden Seçiniz  </h4>
   <div class="container">
                <div class="row">

                    <div class="col-xl-6 ">
                        <ul class="about_usFooter text-primary">
                            <li>
                                <a asp-controller="Science" asp-action="Index">
                                    Docentlik Puan Hesaplama
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Tesvik" asp-action="TesvikHesaplama">
                                    Akademik Tesvik Hesaplama
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Science" asp-action="Egitim">
                                    Eğitim Bilimleri Doçentlik Puan
                                    hesaplama
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Science" asp-action="Fen">Fen Bilimleri Doçentlik Puan hesaplama </a>
                            </li>
                            <li>
                                <a asp-controller="Science" asp-action="Filoloji">
                                    Filoloji Bilimleri Doçentlik Puan
                                    hesaplama
                                </a>
                            </li>

                            <li>
                                <a asp-controller="Science" asp-action="GuzelSanatlar">
                                    Güzel Sanatlar Bilimleri
                                    Doçentlik Puan hesaplama
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Science" asp-action="Hukuk">
                                    Hukuk Bilimleri Doçentlik Puan hesaplama
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Science" asp-action="ilahiyat">
                                    ilahiyat Bilimleri Doçentlik Puan
                                    hesaplama
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Science" asp-action="Mimarlik">
                                    Mimarlik Bilimleri Doçentlik Puan
                                    hesaplama
                                </a>
                            </li>

                            <li>
                                <a asp-controller="Science" asp-action="Muhendis">
                                    Muhendis Bilimleri Doçentlik Puan
                                    hesaplama
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Science" asp-action="Saglik">
                                    Saglik Bilimleri Doçentlik Puan
                                    hesaplama
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Science" asp-action="SosyalBeseri">
                                    SosyalBeseri Bilimleri Doçentlik
                                    Puan hesaplama
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Science" asp-action="Ziraat">
                                    Ziraat Bilimleri Doçentlik Puan
                                    hesaplama
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Science" asp-action="Spor">
                                    Spor Bilimleri Doçentlik Puan hesaplama
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
</div>
