@model PasswordResetDto


@section head{
        <title>Hakkımızda</title>
        <meta name="keywords" content="Hakan Baran Çakır, Mersin üniversitesi">
        <meta name="author" content="Hakan Baran Çakır">
        <meta name="description"
              content="Akademik Hesaplamalar , Akademik hesapla, Doçentlik puan Hesapla, Doçentlik puan hesaplama" />
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>

<div class="row">
    <div class="col-md-4 offset-4" style="margin-bottom:200px;">
        <div class="alert alert-info">
            <p>Yeni şifre Belirlemek için Kayıtlı eposta adresinze göndereceğiz </p>
        </div>
        <h4>Şifremi Unuttum</h4>
        <hr />
        <form asp-action="ResetPassword">
            <div asp-validation-summary="ModelOnly" style="margin-bottom:200px;" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Gönder" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



</body>
</html>
