@model PasswordResetDto
<head>
    <style>
        #alertDiv{
            width: 50%;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

@{
    ViewData["Title"] = "ResetPasswordConfirm";
}

	@{
		if (TempData["passwordGmail"] != null)
		{
			<div class="alert alert-primary" role="alert" id="alertDiv">
				@TempData["passwordGmail"].ToString()
			</div>
		}
	}
<center>
    <h1>Şifre Yenileme Ekranı</h1>

    <div class="row">
        <div class="col-md-4 offset-4" style="margin-bottom:200px;">
    <br />
            <form asp-action="ResetPasswordConfirm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="PasswordNew" class="control-label"></label>
                    <input type="text" asp-for="PasswordNew" class="form-control" />
                    <span asp-validation-for="PasswordNew" class="text-danger"></span>
                </div>
    <br />

                <div class="form-group">
                    <input type="submit" value="Yeni Şifre Oluştur" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</center>


