@model UserDto

@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/jquery/jquery.js"></script>
    <link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/login.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">

	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
 

	<style>
		#gizleGoz,
		#gizleGoz:hover {
			color: black;
			font-size: 20px;
		}
	</style>
</head>
<body>
 
        
 

<div class="offset-md-3 mt-5 mynavLinks" >
    <a asp-action="Index" asp-controller="home"
	class="btn  text-light rounded-pill  py-2 px-4 ms-3"  >Ana Sayfa</a>
	<br />
	<br />
	  <a asp-action="login" asp-controller="home" 
	class="btn  text-light rounded-pill   py-2 px-4 ms-3"  >Giriş Yap</a>
</div>
  
<div class="offset-md-3 mt-5 mynavLinks2" >
    <a asp-action="Index" asp-controller="home"
	class="btn  text-light rounded-pill  py-2 px-4 ms-3"  >Ana Sayfa</a>
	  <a asp-action="login" asp-controller="home" 
	class="btn  text-light rounded-pill   py-2 px-4 ms-3"  >Giriş Yap</a>
</div>
 
<div class="container">
	<div class="screen">
		<div class="screen__content">
			 <form asp-action="SignUp" class="login" >
					<div asp-validation-summary="ModelOnly" class="text-danger"
					style="margin-top:-64px"></div>
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" class="login__input" placeholder="Email" asp-for="Email">
				 <br />
				             <span asp-validation-for="Email" class="text-danger"> </span>
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" class="login__input" placeholder="Kullanıcı Adı" asp-for="UserName">
				 <br />
                <span asp-validation-for="UserName" class="text-danger"></span>
			
				</div>
				<div class="login__field form-group" id="show_hide_password">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" class="login__input" placeholder="Şifreniz"asp-for="Password">
											<a id="gizleGoz" href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
				 <br />
					<span asp-validation-for="Password" class="text-danger"></span>
				</div>
				<button class="button login__submit">
					<span class="button__text">Kayıt OL</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>				
			</form>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>

</body>

</html>


<script>
	$(document).ready(function () {
		$("#show_hide_password a").on('click', function (event) {
			event.preventDefault();
			if ($('#show_hide_password input').attr("type") == "text") {
				$('#show_hide_password input').attr('type', 'password');
				$('#show_hide_password i').addClass("fa-eye-slash");
				$('#show_hide_password i').removeClass("fa-eye");
			} else if ($('#show_hide_password input').attr("type") == "password") {
				$('#show_hide_password input').attr('type', 'text');
				$('#show_hide_password i').removeClass("fa-eye-slash");
				$('#show_hide_password i').addClass("fa-eye");
			}
		});
	});
</script>