   <div class="container my-5 py-5 px-lg-5">
       <div class="row g-5 py-5">
            <div class="col-lg-6 text-center text-lg-start">
               
            
            </div>
            <div class="col-lg-6 text-center text-lg-start">
                @*<img class="img-fluid" src="img/hero.png" alt="">*@
            </div>
        </div>
 </div>