<h1>
    Bu Sayfa düzenlenecektir
</h1>



<script>
    const myFunction = () => {
        let link = document.querySelector('#Role');
        link.classList.add("active");
    }
    myFunction();
</script>